body, ul, li, p, dl, dd, dt, input, h2, h3, h4, h5, menu{ padding:0; margin:0; }
body{ color:#333; background-color:#f7f7f7; }
body, input, textarea{ font-size:12px; font-family:'MICROSOFT YAHEI'; }
ul, li{ list-style:none; }
a{ color:#555; cursor:pointer; }
a:hover{ color:#ff1f35; }
h3, h2, h4{ font-size:12px; }
img{ border:none; }
a, a:hover, s{ text-decoration:none; }
s, em, i{ font-style:normal; }
input::-ms-clear{ display:none; }
:focus{ outline:none; }
.clear{ clear:both; zoom:1;}
.clear:after {
 visibility:hidden;
 display:block;
 font-size:0;
 content:" ";
 clear:both;
 height:0;
}
.fl{ float:left!important; }
.fr{ float:right !important; }
.tc{ text-align:center;}
.vam{ display:inline-block; vertical-align:middle;_zoom:1;*display:inline; }
.noselect{ -moz-user-select:-moz-none; -webkit-user-select:none; -ms-user-select:none; }
.ableselect{ -moz-user-select:-moz-all; -webkit-user-select:auto; -ms-user-select:element; }
.fz12{ font-size:12px!important;}
.fz18{ font-size:18px!important;}
.fz26{ font-size:26px!important;}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; clear:both;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
/*common*/

.header{min-height:115px;}
.header_sample .header_nav{ top:auto; bottom:0; height:auto; background:none;}
.header_sample{ position:relative; background-color:rgba(0, 0, 0, 0.08); border:1px solid #dbdbdb;}
.header_sample .h_nav .h_item a{ color:#333;}
.header_sample .h_explor .h_subtitle{ color:#333;}
.header_sample .h_search_box{ top: 18px;}
.header_sample .h_explor .h_ico_arrow_right_outline{ background-image:url(images/ico_arrow_right_outline_dark.png);}
.header_sample .h_search{ opacity:1; background-image:url(images/ico_fd_search.png); background-repeat:no-repeat;}
.header_nav{ height:115px; background-image:url(images/bg_header_top.png); position:absolute; z-index:10; top:0; left:0; right:0; }
.h_sub_nav{ }
.h_sub_ul{ float:right; }
.h_sub_item{ position:relative; z-index:14; float:left; padding:0 18px; line-height:40px; height:40px; }
.h_sub_item:after{ position:absolute; left:0; top:10px; bottom:10px; content:''; border-left:1px solid rgba(255, 255, 255, 0.15); }
.h_sub_item:first-child:after{ border:none; border-width:0; }
.h_sub_item a{ display:block; color:#dee0e3; }
.h_sub_item a:hover{ color:#fff; }
.h_sub_item:first-child:hover{ background-color:rgba(0, 0, 0, 0.54); }

.h_sub_item:hover .h_sub_item_menu{ display:block; }

.h_sub_item_menu{ background-color:rgba(0, 0, 0, 0.54); width:270px; height:120px; position:absolute; left:0; top:40px; padding:20px 0; display:none; }
.h_m_item{ float:left; width:50%; text-align:center; color:#fff; line-height:1; position:relative; }
.h_m_item:after{ content:''; position:absolute; left:0; top:0px; height:90px; border-left:1px solid #626568; }
.h_m_item:first-child:after{ border:none; }
.h_m_item .h_txt{ padding-top:14px; }

.h_logo{ background-image:url(images/ico_logo.png); width:176px; height:41px; float:left; margin:14px 0 0 30px; display:inline; }

.h_nav{ float:left; padding:3px 40px 0 0px; width:625px;}
.h_nav .h_item{ float:left; padding:0 10px; }
.h_nav .h_item a{ float:left; height:72px; line-height:72px; color:#fff; font-size:16px;  padding:0 18px; }
.h_nav .h_item a:hover,
.h_nav .h_item .active,
.h_nav .h_item a:hover .c_red,
.h_nav .h_item .active .c_red
{ color:#fff!important; background-color:#ff1f35; }

.h_search{ background-image:url(images/ico_search.png); width:20px; height:19px; float:left; margin:28px 25px 28px 25px; opacity:.5; cursor:pointer;}
.h_search:hover{ opacity:1; }
.h_search_box{ background-color:#fff; width:0px; height:42px;border-radius:21px; position:absolute!important; top:57px; left:877px;z-index: 12;  -webkit-transition:width .2s cubic-bezier(0.25, .5, .5, .9)}
.h_search_inner{ overflow:hidden; display:none;}
.h_search_box .h_ico_search{ cursor:pointer; color:#000; position:absolute; right:3px; top:3px; width:36px; height:36px; background-image:url(images/h_ico_search.png); display:none;}

.h_search_box_active{ width:323px;}
.h_search_box_active .h_ico_search,.h_search_box_active .h_search_inner{ display:block;}
.h_search_box .h_input{ font-size:14px; border:none; height:42px; margin:0 0 0 25px;border-radius:20px; width:259px; background-color:transparent; border-width:0; line-height:42px;}
.h_search_box .h_ico_search:hover{ background-color:#ff1f35;border-radius:18px; background-image:url(images/h_ico_search_hover.png);}
.h_drop_menu{ width:323px; display:none; position:absolute; top:51px; background-color:#fff; box-shadow: 0 2px 3px rgba(0,0,0,.3);left: 0; line-height:40px; font-size:14px; padding:5px 0;}
.h_drop_menu .h_item{ height:40px; float:left;width: 100%;}
.h_drop_menu a{ padding-left:25px; display:block; color:#626262;}
.h_drop_menu a:hover{ background-color:#f4f4f4;}
.h_drop_menu b{ color:#222; }


.h_explor{ position:relative; border-left:1px solid #ccc; padding:0 40px 0 24px; float:right; margin:17px 0 0; }
.h_explor .h_title{ color:#ff2b41; font-size:16px; padding-bottom:2px; display:block; }
.h_explor .h_subtitle{ color:#fff; display:block; }
.h_explor .h_ico_arrow_right_outline{ background-image:url(images/ico_arrow_right_outline.png); width:24px; height:24px; position:absolute; right:0; top:9px; }

.h_banner{ height:580px; overflow:hidden; width:100%; position:relative;}
.h_banner .h_item{ height:580px;width: 100%;}
.h_banner img{ height:580px; display:block; }
.h_banner .slide_tabs{ position:absolute; left:50%; bottom:12px;z-index: 999;}
.h_banner .slide_tabs li{ float:left; padding:0 5px;}
.h_banner .slide_tabs a{ display:block; width:12px; height:12px; background-color:#fff; opacity:.5;filter:alpha(opacity=50);border-radius:6px; overflow:hidden; text-indent:-99px;}
.h_banner .slide_tabs .slide_here a{ opacity:.9;filter:alpha(opacity=90);}

.h_login_box{ position:relative; width:1200px; height:0; margin:0 auto;_position:static;}
.h_login{ position:absolute; width:300px; height:400px;right:0; top:130px; background-image:url(images/bg_login.png);z-index: 999;*position:absolute;*z-index: 999;}
.h_switch_btn{ background-image:url(images/ico_h_to_qr.png); width:45px; height:45px; position:absolute; top:0; right:0; cursor:pointer; -webkit-transition:background-position .2s cubic-bezier(0.25, .5, .5, .9);
-moz-transition:background-position .2s cubic-bezier(0.25, .5, .5, .9);
transition:background-position .2s cubic-bezier(0.25, .5, .5, .9); }

.h_login .active{ background-image:url(images/ico_h_to_pc.png); }

.h_login_inner{ padding:20px 30px 0; }
.h_ico_member{ background-image:url(images/ico_member.png); width:15px; height:19px; display:inline-block; }
.h_ico_notice{ background-image:url(images/ico_notice.png);width:18px; height:18px; }

.h_login_help .h_ico{ width:36px; height:36px; display:inline-block;}
.h_ico_apps{ background-image:url(images/ico_login_app.png);}
.h_ico_weibo{ background-image:url(images/ico_login_weibo.png);}
.h_ico_wechat{ background-image:url(images/ico_login_wechat.png);}

.h_login_title{ color:#fff; font-size:16px; margin-bottom:18px; display:block; }
.h_login_title .h_txt{ }
.h_notice_title{ margin-bottom:8px;}

.h_notice_title:hover{ color:#ff1f35; }
.h_notice_title:hover .h_ico_notice{ background-image:url(images/ico_notice_hover.png); }

.h_login_btn{ background-color:#ff1f35; margin-bottom:12px; }
.h_login_btn:hover, .h_signin_btn:hover{ background-color:#d82736; color:#fff; border-color:transparent; }
.h_login_btn:active, .h_signin_btn:active{ background-color:#c62331; color:#fff; }
.h_signin_btn:hover{_border:2px solid #d82736; }
.h_signin_btn, .h_login_btn{ font-size:16px; color:#fff; text-align:center; display:block; height:48px; line-height:48px; }

.h_signin_btn{ border:2px solid #ff1f35; }

.h_login_apart{ border-top:1px dashed rgba(204, 204, 204, 0.61); margin:0 -33px 20px; }

.h_login_forget{ overflow:hidden; padding:28px 0; }
.h_login_forget a{ color:#c5c5c5; }
.h_login_forget a:hover{ color:#fff; }
.h_login_forget .h_item{ width:33%; float:left; text-align:center; padding:0; border-left:1px solid #fff; }
.h_login_forget .h_item.bdNone{_border:none;}
.h_login_forget .h_item:first-child{ border:none; margin-left:-1px; }
.h_notice{ overflow:hidden; }
.h_notice a{ color:#c5c5c5; float:left; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:14px; }
.h_notice a:hover{ color:#ff1f35; }
.h_notice .h_item{ line-height:24px; height:24px; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:240px;}

.h_login_qr_title{ font-size:24px; color:#fff; text-align:center; margin:14px 0 45px; }
.h_login_qrcode{ text-align:center; margin-bottom:34px; }
.h_login_qr_tip{ font-size:12px; text-align:center; color:#fff; }
.h_login_help{ padding-top:12px; width:95%; margin:0 auto; }
.h_login_help .h_item{ border-color:#c3c3c3; border:none;}
.h_login_help .h_txt{ color:#999; text-align:center; display:block; }

.footer{ background-color:#fff; border-top:1px solid #e5e5e5; margin-top:40px; }

.f_links{ padding:55px 0 0 25px; background:url(images/footer_bg.png) no-repeat right bottom; overflow:hidden; height:238px; }
.f_link_ul{ float:left; width:200px; }
.f_link_ul .f_item_title{ font-size:16px; padding-bottom:14px; }
.f_link_ul .f_item_title2{ font-size:12px; color:#ff1f35; margin-top:-12px; }
.f_link_ul .f_item{ font-size:14px; padding-bottom:14px; }
.f_link_ul a{ color:#808080; }
.f_link_ul a:hover{ color:#ff1f35; }
.f_qr{ background-color:#ebebeb; width:324px; overflow:hidden; margin:12px 0 0; padding:0 0 22px; }
.f_qr_tab_top{ border-bottom:1px solid #e5e5e5; padding:9px 9px 0; overflow:hidden;}
.f_qr_tab_top .f_item{border-bottom:3px solid transparent; float:left; width:33%; text-align:center; color:#808080; height:20px; line-height:20px; font-size:12px; padding-bottom:0; cursor:pointer;}
.f_qr_tab_top .f_item.active{ color:#ff1f35; border-color:#ff1f35;}
.f_qr_tab_content{ display:none;}
.f_qr_item{ padding:9px; text-align:center; float:left; }
.f_qr_item .f_txt{ padding-top:9px; display:block; }

.f_copy{ padding:55px 0 60px 25px; clear:both; font-size:14px; position:relative; }

.f_online{ position:absolute; right:20px; top:78px; }
.f_online_left{ text-align:right; display:inline-block; vertical-align:middle; padding-right:26px; border-right:1px solid #e5e5e5;_zoom:1;*display:inline;  }
.f_online_title{ font-size:16px; color:#808080; }
.f_online_number{ font-size:28px; color:#555; }

.f_online_right{ display:inline-block; vertical-align:middle; text-align:center; margin-left:26px; _zoom:1;*display:inline; }
.f_online_right .f_txt{ display:block; }
.f_ico_online{ background-image:url(images/ico_online2.png); width:25px; height:30px; display:inline-block; _zoom:1;*display:inline; }

.f_online_right:hover .f_ico_online{ background-image:url(images/ico_online2_hover.png); }
.f_copy_toplink{ padding-bottom:9px; overflow:hidden; }
.f_copy_toplink a{ color:#545454; }
.f_copy_toplink a:hover{ color:#ff1f35; }
.f_copy_toplink .f_item{ float:left; padding-right:35px; }

.f_copy_content{ clear:both; color:#545454; line-height:28px; }

.f_safe{ position:absolute; right:340px; top:75px;}
.f_safe .f_item{ width:46px; height:57px; float:left; margin:0 3px;}
.f_safe .f_ico{width: 100%;height: 100%; display:block;}
.f_safe .f_ico_01{ background-image:url(images/f_ico_01.png);}
.f_safe .f_ico_02{background-image:url(images/f_ico_02.png);}
.f_safe .f_ico_03{background-image:url(images/f_ico_03.png);}
