.l_color_orange{ color: #ff5722;}
.l_color_red{ color: #f44336;}
.l_color_purple{ color: #9c27b0;}
.l_color_blue{ color: #2196f3; }
.l_color_grey{ color: #a6a6a6;}
.l_color_green{ color:#178fce;}
.l_item{ border-top:1px solid #191919; color: #fff;}
.l_item p{ padding-left:25px; height: 56px; line-height: 56px;}
.l_item b{ padding-right: 5px; font-family: arial, sans-serif; font-weight: normal; font-size:22px;}
.l_item .l_item_word{ font-size:20px;}
.l_item .l_item_label{ display:block; padding:20px 25px 0px;}
.l_size_12{ font-size:12px;}
.l_size_13{ font-size: 13px;}
.l_size_14{ font-size:14px;}
.l_size_16{ font-size:16px;}
.l_size_18{ font-size:18px;}
.l_size_20{ font-size:20px;}
.l_size_24{ font-size:24px;}
.l_border_none{ border:none;}

.l_grid_menu{ min-height: 224px; height:auto;}
.l_top_grid,.l_top_grid1{ border-bottom: 0;}

.l_top_grid1 .l_arrow_down_outline{ background-image:url(images/ico_arrow_down_outline.png); width:24px; height: 24px;  }
.l_top_grid1 .c_grid_more{ background-color:rgba(255,31,53,.9);}
.l_top_grid1 .l_item_code{ margin:0 0 10px 25px; border:3px solid #fff; width:98px; height: 97px;}
.l_top_grid1 .l_item_code_txt{ font-size:12px; padding-left:25px; color: #8f8f8f;}
.l_top_grid1 .l_grid_menu{ padding-bottom:31px;}
.l_grid_360{ background-image: none; background-color: #fff;}


.l_grid_900{ float:left; width:898px;  position:relative;  background-color: #fff; border:1px solid #e5e5e5;}
.l_grid_900_footer{float:right; width:898px;  font-size:14px; line-height: 25px;}
.l_grid_900_footer .l_grid_inner{ padding:40px 10px; color: #808080;}
.l_grid_900_bottom{ margin-left:300px; margin-top:20px;}

.l_grid_540 .l_inner{ padding:14px 20px 0 20px; }
.l_grid_540 .l_ico_right{ background-image:url(images/ico_arrow_right3_outline.png); width:24px; height:24px; margin:5px 0 0; display:block; }
.l_grid_540 .l_hot{ font-weight:bold; padding-bottom:1px; font-size:12px !important; }
.l_grid_540 .l_title{ font-size:18px; padding-bottom:2px; }
.l_grid_540 .l_subtitle{ padding-bottom:2px; }
.l_grid_540 .l_per{ color:#ff0000; font-size:32px; }
.l_grid_540 .l_red{ color:#ff1f35; font-size:12px;}
.l_grid_540 .l_item{ float:left; width:180px; height:180px; position:relative; color: #333; border-top:0; }
.l_grid_540 .l_content{ color: #212121; font-size:16px; padding-top:5px;}
.l_grid_540 .l_time{ font-size:12px; position: absolute; bottom:14px; left:23px; color: #a3a3a3;}
.l_grid_540 .l_item:nth-child(1){ background-color:#ffcdd2; }
.l_grid_540 .l_item:nth-child(2){ background-color:#fff; }
.l_grid_540 .l_item:nth-child(2) .l_hot{ color: #00bee4;}
.l_grid_540 .l_item:nth-child(3){ background-color:#9c27b0; color: #fff; }
.l_grid_540 .l_item:nth-child(3) .l_content,.l_grid_540 .l_item:nth-child(3) .l_time{ color: #fff;}
.l_grid_540 .l_item:nth-child(4){ background-color:#d32f2f; color:#fff; }
.l_grid_540 .l_item:nth-child(4) .l_ico_right{ background-image:url(images/ico_arrow_right_outline3.png);}
.l_grid_540 .l_item:nth-child(4) .l_per{ color:#fff; }
.l_grid_540 .l_item:nth-child(5){ background-image:url(images/l_active_img2.jpg); color: #000; }
.l_grid_540 .l_item:nth-child(6){ background-color:#fff; }
.l_grid_540 .l_img{ text-align: center; padding-top:18px;}
.l_grid_inner{ padding:40px 30px; }
.l_grid_inner1{ padding:23px 30px;}
.l_grid_nav{ color:#808080; font-size:13px; margin-bottom:40px;}
.l_grid_nav .l_grid_nav_li{ padding-right:12px;}
.l_grid_nav .l_grid_nav_li:last-child{ color: #212121;}


.l_fd_table .c_fd_th{ border-top:1px solid #e5e5e5;}
.l_fd_table .c_item:nth-child(1){ width:160px; }
.l_fd_table .c_item:nth-child(8){ width: 110px;}
.l_fd_table .c_item:nth-child(10){ width:150px; }

.l_fd_body .c_item:nth-child(9):after{content:''; position:absolute; right:1px; top:18px; bottom:18px; border-left:1px solid #e5e5e5; }
.l_fd_body .c_ul:nth-child(6n+1) .c_item{ background-color:#fff7fa; }
.l_fd_body .c_ul:nth-child(6n+4) .c_item{ background-color: #f7faff;}

.l_fund_list,.l_cell_list,.l_cell_flow,.l_cell_zzb{margin-bottom:20px; border:1px solid #e5e5e5; background-color: #fff;}
.l_title_outer{  border-left:4px solid #ff1f35; padding:15px 25px 11px;}

.l_main_title{ font-size:24px; padding-bottom:3px;}
.l_sub_title2{color:#ff1f35;}

.l_main_title .l_title_small{ font-size:14px;}
.l_component,.l_trend{ display: inline-block; width:38px; height: 38px; background-image:url(images/l_tab_icon.png); background-repeat: no-repeat; vertical-align:middle;}
.l_component{ background-position: 0 -108px;}
.l_trend{ background-position: 0 -177px;}

.l_home_footer .c_home_news:nth-child(2){ }
.l_home_footer .l_new_cell{ display:inline-block; width: 396px; height: 300px; overflow: hidden; border-left:1px solid #e5e5e5; }
.l_home_footer .l_new_cell:first-child{ border-left: 0;}
.l_home_footer .l_new_cell:last-child{ position: relative; width:398px; background:url(images/l_superman_bg.jpg) no-repeat right bottom; color: #fff;}
.l_home_footer .l_img_box,.l_home_footer .l_new_img{ width:280px; height: 180px; }
.l_home_footer .l_new_code{  position: absolute; width:102px; top:89px; left:50%; margin-left:-51px; text-align: center; font-size: 16px; }

.l_home_footer .l_img_box{margin:15px auto 0; position: relative; border-radius: 8px; overflow: hidden; }
.l_home_footer .l_new_title{ position: absolute; left:0; right:0; bottom:0; height:53px; line-height:53px; background-color: rgba(0,0,0,.5); color: #fff; text-align:center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px;}
.l_home_footer .c_home_news .c_left{ width:750px;}
.l_home_footer .c_home_news .c_right{ border-left:1px solid #e5e5e5;}
.l_home_footer .c_home_news .c_first_title{ color: #000; padding-top:10px;}
.l_article_txt{ background:url(images/l-glo.jpg) no-repeat left top; padding-left:200px; padding-right: 70px; text-indent: 4em;}
.l_article_txt .l_article_title{ margin-top:30px; margin-bottom: 17px; text-indent: 0; font-size: 20px; font-weight: normal;}

.l_cell_list .l_title_outer{ position:relative; padding:10px 15px 10px 25px;}
.l_cell_list .c_top{ overflow:hidden; padding-bottom:10px; border-bottom:1px solid #e5e5e5; }
.l_cell_list .c_top_more{ float:right; margin-top:12px; padding:0 36px 0 0; }
.l_cell_list .c_top_more .c_arrow_right_outline2{ right:0; }
.l_cell_list .c_top_more .c_red{ font-size:16px; }
.l_cell_list .c_arrow_right_outline2{position:absolute; top:50%; right: 0;  transform:translateY(-50%);}
.l_cell_list .l_cell_title{ display: inline-block;}

.l_cell_list .l_cell_body{ height:297px; border-top:1px solid #e5e5e5;}
.l_cell_list .l_cell_left{  float:left; width:599px; height:100%; border-right:1px solid #e5e5e5;}
.l_cell_list .l_cell_right{ float: right; width: 598px;}
.l_cell_list .l_cell_inner{ padding:24px 48px 20px 25px; overflow: hidden;}
.l_cell_list .l_cell_txt{ float: left; width:300px;}
.l_cell_list .l_cell_img{ width:200px; float: right;}
.l_cell_list .l_cell_txt_head{ font-size: 24px; font-weight: normal;}
.l_cell_list .l_cell_txt_label{ padding:18px 0 5px; font-size: 14px; color: #212121;}
.l_cell_list .l_font_18{ font-size: 18px;}
.l_cell_list .l_cell_txt_button{ margin-top:20px;}

.l_cell_flow{ font-size: 16px;}
.l_cell_flow .l_title_outer{ margin:30px 43px 25px; padding:0 25px; border-left: 0;}
.l_cell_flow .c_title,.l_cell_policy .c_title,.l_step_title .c_title,.l_cell_zzb .c_title{ font-size:24px; padding:0 0 3px 24px; border-left: 4px solid #ff0000;}
.l_cell_flow .c_title2,.l_cell_policy .c_title2,.l_step_title .c_title2,.l_cell_zzb .c_title2{ margin:0 0 0 31px; color: #ff0000;}


.l_cell_flow .l_flow_img{ width: 109px; height: 109px; background-image:url(images/l_flow.jpg); background-repeat: no-repeat; display: inline-block;}
.l_cell_flow .l_flow_img01{ background-position: 0 0; }
.l_cell_flow .l_flow_img02{ background-position: -190px 0; }
.l_cell_flow .l_flow_img03{ background-position: -380px 0; }
.l_cell_flow .l_flow_img04{ background-position: -570px 0; }
.l_cell_flow .l_flow_img05{ background-position: -760px 0; }
.l_cell_flow .l_flow_img06{ background-position: -949px 0; }

.l_cell_flow .l_cell_flow_wrap{ height:197px; margin-top: 20px; padding-left: 82px; font-size:14px; color:#808080;}
.l_cell_flow .l_cell_flow_box{ display: block;  float: left; width:160px; text-align: center; color: #808080;}
.l_cell_flow .l_cell_flow_box:nth-child(2n){ width:20px; }
.l_cell_flow .l_flow_next{ margin-top: 48px; background:url(images/l_tab_icon.png) no-repeat left -55px; display: inline-block; width:20px; height: 32px;}
.l_cell_flow .l_cell_flow_title{ padding-top:13px; line-height: 24px;}
.l_cell_grid{ overflow: hidden;}
.l_cell_title_nav{ padding:12px 23px; height:37px;}
.l_cell_title_nav .l_cell_title_label{ display: inline-block; width:100px; height: 37px; margin-right:10px; text-align:center; line-height: 37px; font-size: 16px;}
.l_cell_title_nav .active{ color: #fff; background-color: #ff1f35; border-radius: 20px;}

.l_common_title .c_title{ font-size:24px; padding:0 0 3px 24px; margin:33px 0 5px 29px; border-left:4px solid #ff1f35; line-height:0.7; height:17px; }
.l_common_title .c_title2{ font-size:16px; height:22px; line-height:24px; color:#ff1f35; }
.l_common_title .c_title2{ color:#ff0000; margin:0 0 0 57px; }
.l_common_title .c_more{ font-size:16px; height:22px; line-height:24px; color:#ff1f35; }
.l_common_title .c_title2 .c_more{ font-size:12px; color:#888; line-height:1; }

.l_button{color:#fff;  height:36px; line-height:36px; text-align:center; min-width:120px; font-size:14px; display:inline-block; border-radius:18px; text-indent:0;  }
.l_button:hover{ color:#fff; }
.l_button_red{ background-color:#ff1f35; }
.l_button_green{ background-color: #2196f3;}

.l_grid_cell,.l_grid_cell_800{ margin-left:25px; border-top: 1px dashed #dadada; padding:37px 0; overflow: hidden;}
.l_grid_bord_none{ border:0;}
.l_grid_cell{ width:690px;}
.l_grid_cell a,.l_grid_cell_800 a,.l_grid_vision .l_vision_rg_line{ display: block; width:100%; height:27px; color: #808080; font-size: 14px;}
.l_grid_cell a:hover,.l_grid_cell_800 a:hover,.l_grid_cell .l_policy_time,.l_grid_cell .l_grid_txt_time,.l_intro_rg_time,.l_grid_vision .l_grid_vision_more{color: #ff0000;}
.l_grid_cell .l_grid_img{ width:202px; float: left;}
.l_grid_cell .l_grid_right{ width:488px; float: right; font-size: 14px;}
.l_grid_cell .l_grid_txt_title{ font-size: 18px; font-weight: normal; color: #212121; width:415px; height: 26px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-bottom:10px;}
.l_grid_cell .l_grid_txt_contxt{ line-height: 25px; color: #9c9c9c;}
.l_grid_cell .l_policy_title,.l_grid_cell_800 .l_intro_lf_title,.l_grid_vision .l_intro_lf_title{  display:block; width:600px; float: left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.l_grid_cell .l_policy_time,.l_grid_cell_800 .l_intro_rg_time,.l_grid_vision .l_intro_rg_time{ display: block; float: right;}
.l_grid_cell .l_grid_right .l_policy_title{ width:415px;}
.l_grid_cell .l_grid_right .l_grid_txt_time{ height: 30px; line-height: 30px;}
.l_grid_cell_800{ width:800px;}
.l_grid_cell_page{ text-align: center;}
.l_grid_cell_page a{ display:inline-block; width:38px; height: 38px; text-align: center; line-height: 38px; border-radius: 38px; background-color: #e5e5e5; margin:0 7px; font-size:16px; font-family: arial, sans-serif;}
.l_grid_cell_page .current{ background-color:#ff1f35; color:#fff;}
.l_grid_cell_ellipsis{ display:inline-block; margin:0 7px; }
.l_grid_900 .l_grid_cell:nth-child(2),.l_grid_inner1 .l_grid_cell:nth-child(3),.l_grid_900 .l_grid_cell_800:nth-child(2){ border-top-width: 0;}

.l_padding_bottom_0{ padding-bottom:0;}

/**left banner**/
.l_right_banner{  position: fixed; right:30px; top:590px; z-index:100;}
.l_right_banner .l_icon_box{ position: relative; display: block; padding-top:10px;  width:48px; height: 53px; line-height: 23px; text-align: center; background:url(images/l_banner_line.png) no-repeat center top;}
.l_right_banner .l_icon_box:first-child{ background:none;}
.l_right_banner .l_icon01,.l_right_banner .l_icon02,.l_right_banner .l_icon03,.l_right_banner .l_icon04{ display: inline-block; vertical-align: middle; background-repeat: no-repeat;}
.l_right_banner .l_icon01{  width:22px; height: 22px;  background-image:url(images/ico_qrcode.png);}
.l_right_banner .l_icon02{  width:26px; height: 18px; background-image: url(images/ico_online.png);}
.l_right_banner .l_icon03{  width:24px; height: 18px; background-image: url(images/ico_diamond.png);}
.l_right_banner .l_icon04{  width:24px; height: 24px; background-image: url(images/ico_tool_5.png);}
.l_right_banner .l_icon_box:hover .l_icon,.l_right_banner .l_icon_txt{ display: none;}
.l_right_banner .l_icon_box:hover .l_icon_txt{ position: absolute; display: block; left:-10px; bottom:0; top:0; right:-10px; padding:10px 12px; background-color:#ff1f35; font-size:16px; line-height: 22px; color: #fff; }
.l_right_banner .l_qcode{ display: none; position: absolute; width:270px;  left:-280px; top:0; background-color: #fff; box-shadow: 1px 2px 2px #bbbaba; border: 1px solid #f2f2f2;}
.l_right_banner .l_icon_box:hover .l_qcode{ display: block; color: #333;}
.l_right_banner .l_qcode_inner{ overflow: hidden; padding:30px 0;}
.l_right_banner .l_qcode_cell{ float: left; width:135px; text-align: center; line-height: 20px; font-size: 14px;}
.l_right_banner .l_qcode_img{ width:135px; height: 79px; border-left:1px solid #d9d9d9; padding:7px 0;}
.l_right_banner .l_qcode_cell:first-child .l_qcode_img{ border-left: 0;}

.l_home_footer .c_home_news{ height:300px;}
.l_home_footer .c_home_news:first-child{height: 291px;}
.l_home_footer  .c_left .c_home_news_list,.l_policies .c_left .c_home_news_list{ margin-top:10px; margin-left:260px;}
.l_home_footer .c_home_news .c_item{ padding-bottom:8px;}
.l_home_footer .c_home_news .c_first_img{ margin:20px 0 0 60px; width:180px; height:180px; }
.l_policies .c_first_img{ margin-left:0; margin-top:20px; width:220px;}

.l_policies{ height: 292px;}
.l_policies .c_left{ width:670px; }
.l_policies .c_home_news .c_first_title{ color: #000;}
.l_policies .c_right{ border-left:1px solid #e5e5e5; height: 100%;}
.l_policies .l_policies_word{ padding:20px 75px 0;}
.l_policies .l_policies_word{ font-size: 30px; font-style: italic;}
.l_policies .l_policies_word_top{ position: absolute; top: 65px; left: 36px;}
.l_policies .l_policies_word_bottom{ position: absolute; top:110px; left: 120px;}


.l_page_body{ padding:0px 40px 20px 30px;}
.l_page_head{ height: 357px; margin-bottom:20px; overflow: hidden;}
.l_page_left,.l_page_right{ width:43px; height: 43px; display: block;}
.l_page_left{ background:url(images/ico_page_lf.png) no-repeat;}
.l_page_right{ background:url(images/ico_page_rg.png) no-repeat;}
.l_page_menu_outer{ position: relative; z-index:100; width:300px;}
.l_page_menu_inner{ position: absolute; left:0; top:0; background-color:#212121;}
.l_page_menu_inner .c_page_menu_ul .active{ background-color: #f42536;}
.l_team_intro{ height: 340px;}
.l_team_intro .c_title{ padding-left:0;}
.l_team_intro .c_title2{ margin-left:33px; line-height: 20px; font-size: 12px;}
.l_team_intro .l_page_left,.l_team_intro .l_page_right{position: absolute; top: 86px;}
.l_team_intro .l_page_left{ left:16px;}
.l_team_intro .l_page_right{ right:16px;}
.l_team_intro_list{ position: relative; width:817px; height: 230px; margin-top:40px; overflow: hidden;}
.l_team_intro_cell{  margin:0 85px;  height:220px; border-radius: 10px; text-indent: 0; background-color:#fff; overflow: hidden;}
.l_team_intro_cell_item{width: 100%;}
.l_team_intro_img{ float: left; width:200px; height:220px; }
.l_team_intro_txt{ margin:30px 64px 0 230px; }
.l_team_intro_name{ font-size:24px;}
.l_team_intro_title{ font-size:16px; padding-left:25px;}
.l_team_intro_englist{ color:#ff1f35; font-size:14px;}
.l_team_intro_words{ padding-top:18px; font-size:14px; line-height: 23px; color: #666;}

.l_grid_menu .c_ico{ display: inline-block;}
.l_grid_menu .active .l_menu_father_label{ background-color:#212121;}
.l_grid_menu .c_menu_child .active,.l_grid_menu .c_menu_child .c_item:hover{ background-color:#f42536;}
.l_grid_menu .c_page_menu_ul .active .c_menu_item{ padding-left:25px;}
.l_intro_title{ padding-bottom: 24px; color: #212121; font-size: 18px;}
.l_intro_txt{ font-size: 14px; color: #808080; text-indent:2.8em; line-height: 28px;}
.l_intro_red_title{ padding: 7px 0; color: #ff1f35;}
.l_intro_inner{ padding-bottom: 13px; font-size: 14px;}

.l_indent_0{ text-indent: 0;}
.l_indent_1{ text-indent: 1em;}
.l_indent_2{ text-indent: 2em;}
.l_team_vip_cell{ margin-bottom:20px; height:220px; border-radius: 10px; text-indent: 0; background-color:#fafafa; overflow: hidden;}
.l_team_intro_txt .l_team_intro_title{ color: #000;}

.l_grid_left{ position: relative; float: left; width:900px; }
.l_grid_left_head{ background-color: #fff;}
.l_grid_left_body{border-top:1px solid #e5e5e5; }
.l_grid_left_body .l_grid_left_box:nth-child(2n-1){ width:448px; border-left:1px solid #e5e5e5; }
.l_grid_left_box{ float: left; width:449px; min-height: 200px; height: auto; padding-top:22px; background-color: #fff; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.l_grid_left_img{ float: left; width:120px; text-align: center;}
.l_grid_left_content{ margin-left:120px; width:260px; color: #212121;}
.l_grid_left_content .l_size_14{ color: #808080; padding-top: 10px; line-height: 24px;}
.l_grid_left_height{ height: 228px;}
.l_schemes_txt{ border-bottom:1px dashed #e1e1e1; min-height:93px; overflow: hidden;}
.l_schemes_content{ position: relative; width:295px; height: 100%; }
.l_schemes_block{ float: left; display: block; width:12px; height: 18px; margin-right:8px;}
.l_schemes_block_grey{ background-color: #d9d9d9;}
.l_schemes_block_orange{ background-color: #ff5722; }
.l_schemes_block_red{ background-color: #f44336;}
.l_schemes_block_purple{ background-color: #9c27b0;}
.l_schemes_block_blue{ background-color: #2196f3;}
.l_schemes_block_blue1{ background-color: #00bcd4;}
.l_page_content{ overflow:hidden; margin-left:300px; }
.l_schemes_foot{ position: absolute; left: 0; right: 0; bottom:24px; font-size: 14px; color: #808080;}
.l_schemes_foot_lf{ float: left; width:190px;}
.l_schemes_foot_rg{ margin-left:190px; width:100px;}
.l_page_content .c_title{ font-size:24px; margin:35px 0 5px 25px; padding:0 0 0 24px; border-left:4px solid #ff1f35; position:relative;}
.l_page_content .c_title2{ color:#ff1f35; margin:0 0 0 54px; }

.l_flow_box{ margin-bottom:50px;}
.l_flow_box_img{ margin-bottom:20px;}
.l_flow_box_dialog{ position: relative; padding:20px; border:2px solid #ffe4e6; border-radius: 5px; font-size:14px; line-height: 30px; color: #808080; }
.l_flow_box_dialog .l_button_red{ display: block; margin:15px 15px 15px 0; width: 120px; height: 36px; color: #fff;  }
.l_flow_box_dialog .l_button_red:hover{ color: #fff;}
.l_flow_triangle{ position: absolute; top:-18px; left:100px; display: block; width:20px; height: 18px; background:url(images/l_box_trangle.jpg) no-repeat;}
.l_flow_step01{ left:33px;}
.l_flow_step02{ left:175px;}
.l_flow_step03{ left:321px;}
.l_flow_step04{ left:462px;}
.l_flow_step05{ left:606px;}
.l_flow_step06{ left:746px;}

.l_h_banner{ background:url(images/l_banner_4.jpg) no-repeat center top; height: 580px;}
.l_login{ color:#fff; font-size:14px;}
.l_login .l_login_title{ font-size:32px; padding-bottom:10px;}
.l_login .l_login_line{ padding-bottom:8px;}
.l_login .l_login_num{ height:97px; line-height: 59px; color: #ff0000; font-size:44px;  font-family: arial; padding:10px 0 0;}
.l_login .l_login_num_big{ font-size:88px; font-weight:normal;vertical-align:text-top; vertical-align:-webkit-baseline-middle;}
.l_login .l_login_check{ display:inline-block; height: 21px;  background:url(images/l_zzb_check.png) no-repeat right center; padding-right:15px;}
.l_login .h_login_btn{ margin-top:10px;}


.l_yield_list .l_yield_cell:first-child{ background:url(images/l_zzb_yield_01.jpg) no-repeat right top; height:359px;}
.l_yield_list .l_yield_cell:nth-child(2){ background:url(images/l_zzb_yield_02.jpg) no-repeat left top; height:358px;}
.l_yield_list .l_yield_cell:nth-child(3){ background:url(images/l_zzb_yield_03.jpg) no-repeat right top; height:357px;}
.l_yield_list .l_yield_cell:nth-child(4){ background:url(images/l_zzb_yield_04.jpg) no-repeat left top; height:358px;}
.l_yield_list .l_yield_cell .l_grid_inner,.l_cash_list .l_cash_cell .l_grid_inner{ padding-top:86px; padding-left:48px; font-size:18px; line-height:40px; color: #808080;}
.l_yield_cell,.l_cash_cell{ border-top:1px solid #e5e5e5;}
.l_yield_cell .l_yield_cell_tt,.l_cash_cell .l_cash_cell_tt{ color: #ff1f35; font-size: 30px; padding-bottom:20px;}
.l_yield_list .l_yield_cell:nth-child(2n) .l_grid_inner,.l_cash_list .l_cash_cell:nth-child(2n) .l_grid_inner{ float: right;}


.l_cash_list .l_cash_cell:first-child{ background:url(images/l_zzb_yield_05.jpg) no-repeat right top; height:359px;}
.l_cash_list .l_cash_cell:nth-child(2){ background:url(images/l_zzb_yield_06.jpg) no-repeat left top; height:359px;}
.l_cash_list .l_cash_cell:nth-child(3){ background:url(images/l_zzb_yield_07.jpg) no-repeat right top; height:357px;}
.l_bank_list{ width:100%;  overflow:hidden; padding:28px 0 40px;}
.l_bank_list_cell{ display:inline-block; width:118px; height:51px;}
.l_bank_list .l_bank_list_cell:nth-child(7n){ width:100px;}
.l_cash_txt_cell{ padding:27px 17px; }
.l_cash_txt_cell,.l_faq_list .l_faq_answer{ font-size:14px; line-height:25px; color: #a5a5a5;}
.l_cash_bank_tt{ padding-left:17px; font-size:18px;}
.l_cash_txt_cell .l_size_18{ color: #212121; padding-bottom:12px;}
.l_cash_bank_tt{ color: #212121; }
.l_bank_list1{ padding-top: 0;}

.l_faq_list{ padding:0 25px;}
.l_faq_list .l_faq_cell{padding:27px 0; border-bottom:1px dashed #d9d9d9;}
.l_faq_list .l_faq_question{ font-size:18px; height:23px; line-height:23px; background:url(images/ico_plus.png) no-repeat left center; padding-left:35px;}
.l_faq_list .l_faq_answer{ display:none; padding-top:16px; padding-left:35px;}
.l_faq_list .active .l_faq_question{ background-image:url(images/ico_minus.png);}
.l_faq_list .active .l_faq_answer{ display: block;}

.l_zzb_540{ background:url(images/zzb_trend.jpg) no-repeat right top; height:359px;}
.l_zzb_head_lf{ padding:20px 0 0 32px; color: #212121;}
.l_zzb_head_lf .l_size_24{  padding-bottom:10px; }
.l_zzb_head_lf .l_color_red{ font-size:14px;}
.l_zzb_head_lf .l_zzb_num{ font-family: Myriad Pro; font-size:32px; line-height: 76px;}
.l_zzb_head_lf .l_zzb_num_b{ font-size:64px; line-height:50px; vertical-align:text-top;  }
.l_zzb_head_rg .l_zzb_head_rg_cell{ display:block; float: left; width:180px; height: 180px;}
.l_zzb_head_rg .l_zzb_head_rg_cell:first-child{ background-image:url(images/zzb_bg_01.jpg);}
.l_zzb_head_rg .l_zzb_head_rg_cell:nth-child(2){ background-image:url(images/zzb_bg_02.jpg); color: #fff;}
.l_zzb_head_rg .l_zzb_head_rg_cell:nth-child(3){ background-image:url(images/zzb_bg_03.jpg); color: #fff;}
.l_zzb_head_rg .l_zzb_head_rg_cell:nth-child(4){ background-image:url(images/zzb_bg_04.jpg); }
.l_zzb_head_rg .l_grid_inner { padding:20px; line-height: 26px; font-size:13px;}
.l_cell_zzb{ margin-top:20px;}
.l_cell_zzb .l_cell_inner{ padding:34px 24px 0;}
.l_cell_zzb .l_cell_txt{ font-size: 16px; line-height: 28px; padding:30px 18px 50px; color: #666;}
.l_cell_zzb .l_cell_trend{ position: relative; background:url(images/zzb_trend_02.jpg) no-repeat center top; height:527px;}
.l_cell_zzb .l_size_24{ padding-bottom:15px;}
.l_cell_zzb .l_color_red{ color: #ff0000;}
.l_cell_zzb .l_size_12{ position: absolute; right:15px; bottom:106px; color: #a6a6a6;}
.l_cell_zzb .l_zzb_cell_step{ padding:25px 0 46px; text-align: center;}
.l_cell_zzb .l_faq_cell:last-child{ border-bottom:0;}
.l_cell_zzb .l_faq_list{ padding-bottom:20px;}

.l_grid_video{ padding:16px 24px 40px;}
.l_grid_video_box,.l_grid_video_box img{ width:280px; height: 220px;}
.l_grid_video .l_common_title{ margin-left:-22px;}
.l_grid_video_box{ position:relative; margin:30px auto 0; border-radius: 8px; overflow: hidden;}
.l_grid_video_mask{ position: absolute; left:0; right:0; bottom:0; width:100%; background-color: rgba(0,0,0,.6); height: 47px; line-height: 47px; font-size:14px; color: #fff; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.l_fund_choose_inner{ padding:40px 10px;}
.l_fund_choose_title{ font-size:20px; padding-bottom:20px;}
.l_fund_check_grid{ display:inline-block; margin:0 11px; font-size:16px; color: #808080;}
.l_check_box{ display:none;}
.l_check_label{ display:inline-block; cursor: pointer; background:url(images/l_checkbox_uncheck.png) no-repeat left center; padding-left:25px;}
.l_check_box:checked + .l_check_label{background-image:url(images/l_checkbox_check.png);}
.l_grid_txt_img{ text-align: center; padding-top:20px;}
.l_grid_txt_sub_title{ padding:40px 0 8px; font-size:14px; color: #9c9c9c;}
.l_grid_strutured .l_grid_txt_title{ padding-bottom:20px;}
.l_grid_strutured .l_grid_txt_contxt{ font-size:14px; text-indent:2em;}

.l_grid_videoes .l_grid_img,.l_grid_videoes .l_grid_img img{ width:220px; height: 220px;}
.l_grid_videoes .l_grid_img{ border-radius: 10px; overflow: hidden; }
.l_grid_videoes .l_grid_cell{ width:780px;}
.l_grid_videoes .l_grid_right{ width:510px;}
.l_grid_videoes .l_grid_right_footer{  padding-top:20px;}
.l_grid_share{ width:290px; line-height: 30px; padding-top:10px;}
.l_grid_share .l_grid_share_ico{ display: inline-block; margin:0 10px; vertical-align:middle;}
.l_grid_share .l_grid_share_ico:nth-child(1){ background-image:url(images/ico_share_1.png); width:15px; height: 14px; }
.l_grid_share .l_grid_share_ico:nth-child(2){ background-image:url(images/ico_share_2.png); width:15px; height: 16px; }
.l_grid_share .l_grid_share_ico:nth-child(3){ background-image:url(images/ico_share_3.png); width:16px; height: 16px; }
.l_grid_share .l_grid_share_ico:nth-child(4){ background-image:url(images/ico_share_4.png); width:18px; height: 15px; }
.l_grid_share .l_grid_share_ico:nth-child(5){ background-image:url(images/ico_share_5.png); width:14px; height: 17px; }
.l_grid_videoes .l_grid_share_watch{ background:url(images/ico_arrow_right_outline4.png) no-repeat right center;  width:85px; color: #ff1f35; font-size:12px; float: right;}

.l_arbitrage_title{ background:url(images/l_arbitray_tt.jpg) no-repeat left center; text-indent: 1em; width:161px; height: 27px; font-size: 16px; line-height: 27px; color:#fff; font-weight: 600;}
.l_arbitrage_sub_title{ font-size:14px; padding:20px 0; color: #808080;}
.l_arbitrage_box{ width:567px; margin:30px auto;}
.l_arbitrage_img_box{ width:421px; height:303px; position: relative; margin:0 auto 10px;}
.l_arbitrage_img_box .l_arbitrage_button{ width:146px; height:46px; display:block; position: absolute; left:50%; margin-left:-67px; top:198px; text-indent: -999px; overflow: hidden; z-index: 10;}

.l_container_video{ overflow: hidden; width:880px; margin: auto; border-radius: 10px; background-color:#fff; border:1px solid #e9e8b8;}
.l_container_video .l_grid_inner{ padding:5px 20px 20px;}
.l_container_header{ padding-left:27px; border-bottom:1px solid #e9e8b8; background-color: #fcfaeb; color: #000; font-size:14px; font-weight: 700; height: 35px; line-height: 35px;}
.l_video_title{ position: relative; display: block; padding-left:20px;}
.l_video_title::before{ position: absolute; background:url(images/ico_video.jpg) no-repeat; width:13px; height: 13px; content: ''; left:0; top:10px;}
.l_video_header{ width:818px; height: 505px; background-color: #000; margin:0 auto;}
.l_video_footer{ padding:20px 0; position: relative;}
.l_video_footer .l_video_mask{ width: 780px; height: 200px; overflow: hidden; margin:auto;}
.l_video_footer .l_video_cell,.l_video_footer .l_video_cell img{ width:187px; height: 156px;}
.l_video_footer .l_video_cell{ display:block; float: left; border:4px solid #fff;}
.l_video_footer .active{ border-color:#808080;}
.l_video_footer .l_video_cell_title{ padding-top:5px; font-style: italic; font-weight: 700;}
.l_video_footer .l_video_page{ display: block; position: absolute; top:80px; width:19px; height: 34px; }
.l_video_footer .l_video_page_lf{ left:0;  background-image: url(images/l_page_lf.jpg);}
.l_video_footer .l_video_page_rg{ right:0; background-image: url(images/l_page_rg.jpg);}

.yellow-bg{  background-color:#fff100; }
.yellow-bg .header_sample,.l_header_sample{ background-color: #fff; border-bottom:0;}
.l_container_hero{padding-bottom:20px;}
.l_container_hero2{ padding-top:8px;}
.l_container_hero2 .l_hero_center{ width:920px; }

.l_hero_center{ width:900px; margin: auto;}
.l_hero_head{ padding-top:40px;}
.l_hero_head2{ }
.l_hero_border_bottom{ margin-top:-4px; background:url(images/hero-border-bt.jpg) no-repeat left bottom; padding-bottom: 25px;}
.l_hero_border_ct{ background:url(images/hero-border-ct.jpg) repeat-y left top; position: relative;}
.l_hero_border_hd{ background:url(images/hero-border-top.jpg) no-repeat left top; padding-top:78px;}
.l_hero_inner{ padding:27px;}
.l_hero_cell{ position:relative; padding-bottom:40px; overflow: hidden;  color: #000; }
.l_hero_cell .l_indent_2{ margin-bottom:5px; line-height: 19px;}
.l_hero_label{ float: left;  text-align: center; width:136px; padding-left:40px; padding-top:50px;}
.l_hero_label .l_hero_title,.l_hero_txt .l_hero_title{ text-align:left; font-size:17px; color: #178fce; font-weight: 600; padding-top:8px;}
.l_hero_txt{ margin-left:210px; font-size:13px; line-height: 20px; padding-top:50px; padding-right: 40px;}
.l_shadow{ position: absolute; left:0; right:0; bottom:0; box-shadow: 0 -4px 10px #e6e6e6; height: 10px; width:100%;}
.l_hero_basic .l_hero_cell:first-child{ margin-top:-124px;}
.l_hero_footer{ margin-top:10px; border-radius: 10px; background-color:#fff; padding:20px; font-size:13px; line-height: 20px; box-shadow: 0px 0px 6px #ccc inset,0 1px 4px #cec400;}
.l_hero_opt{ border:4px solid #f3be00; background-color: #fff; border-radius: 15px;}
.l_hero_opt .l_hero_inner{ padding-top:0; padding-bottom:0;}
.l_hero_opt .l_hero_opt_pd .l_hero_label,.l_hero_opt .l_hero_opt_pd .l_hero_txt{ padding-top:24px;}
.l_hero_opt .l_color_red{ color: #ff0000;}
.l_hero_opt .l_hero_txt .l_hero_title{ background:url(images/hero-line.jpg) no-repeat right center; height:40px; line-height: 40px; padding-top:0; font-size:19px; letter-spacing: 1px;}
.l_hero_body{ background-color:#fff; border-radius: 10px; padding:15px;}
.l_hero_classes .l_hero_file,.l_hero_classes .l_hero_lf{ border:1px solid #ebe7ba; border-radius: 10px; overflow: hidden; }
.l_hero_classes .l_hero_rg{ float: right; width:278px;}
.l_hero_classes .l_container_header{ padding-left:17px;}
.l_hero_classes .l_hero_lf{ width:590px;}
.l_hero_classes .l_hero_lf .l_video_title::before{ background-image:url(images/ico_hero_map.jpg); width:12px; height: 17px;}
.l_hero_classes .l_hero_rg .l_video_title::before{ background-image:url(images/ico_hero_file.jpg); width:12px; height: 15px;}
.l_hero_classes .l_hero_cell{ padding:12px;}
.l_hero_classes .l_hero_rg_bt{ border-radius: 10px; overflow: hidden; margin-bottom:10px; background-color:#fff100; border:1px solid #f5e300; text-align: center; padding:2px 0;}
.l_hero_file_more{float: right; padding-right:17px; color: #000; font-size:12px; }
.l_hero_file_box{ padding-bottom: 5px;}
.l_hero_file_box .l_hero_file_txt{ font-size:14px; color: #000; font-size:14px; line-height: 20px; font-weight: 600;  }
.l_hero_file_img{ margin-right: 10px; border:1px solid #ece8bc; padding:3px; width:64px; height: 52px;float: left;}
.l_sub_ul .h_sub_item:after{ border-left-color:#ccc;}
.l_sub_ul .h_sub_item a{ color:#a8a8a8;}

.l_grid_body_nav,.l_grid_body_search{ float: right;}
.l_grid_body_nav_tab{ font-size:16px; display:inline-block; padding:5px 15px; }
.l_grid_body_nav .active{ background-color:#ff1f35; border-radius: 15px; color: #fff;}
.l_journal_list{ padding:30px 0 40px;}
.l_joural_cell,.l_joural_cell img{ width:155px; height: 207px;}
.l_joural_cell{ border:1px solid #e6e6e6; padding:9px; display:inline-block; margin:11px;}
.l_grid_search_box{ border:1px solid #e5e5e5; width:455px; height:20px; padding:10px 10px 10px 20px; line-height: 20px; position: relative;}
.l_grid_search_box .l_grid_search_bt{ float: right;}
.l_grid_search_box .l_grid_search_input{ border:none; font-size:14px; color: #808080; width:415px; }

.l_grid_search_bt{display:block; background:url(images/ico_fd_search.png) no-repeat center center; width:38px; position: absolute; right:0; top:0; bottom:0px; }
.l_grid_search_active .l_grid_search_input{ color: #000;}
.l_grid_search_active .l_grid_search_bt{ background-color:#ff0000; background-image:url(images/ico_search_white_s.png);}

.l_grid_news_tip{ background-color:#ff9527; padding:3px 10px; font-size:12px; color: #fff; border-radius: 4px; text-align: center; text-transform: uppercase;}
.l_grid_news .l_grid_title_txt{ padding-right:20px;}
.l_grid_news .l_grid_cell{ font-size:14px; border-top-width: 0; line-height: 20px; border-bottom:1px solid #dadada;}
.l_grid_news .l_time{ padding-right:20px;}
.l_grid_news .l_color_red{ color: #ff0000; padding-bottom:10px;}
.l_grid_news .l_grid_cell{ width:auto; margin:0 50px;  padding:50px 0;}
.l_grid_news .l_grid_right_footer{ display: none;}
.l_grid_news .l_grid_cell_active,.l_grid_latest .l_grid_cell_active{ margin:-1px 0 0; padding-left:50px; padding-right: 50px; border-top:1px solid #dadada; box-shadow: 0 1px 1px #dadada;}
.l_grid_news .l_grid_cell_active .l_grid_right_footer{ display: block;}
.l_grid_news .l_grid_share{ color: #9c9c9c;}
.l_grid_news .l_grid_cell_page,.l_grid_vision .l_grid_cell_page,.l_grid_latest .l_grid_cell_page{ padding:40px 0;}

.l_grid_today .l_grid_cell{ border-top-width: 0; width:auto;}
.l_grid_today .l_grid_today_tab{ width:100%; border-top:1px solid #e5e5e5; border-left:1px solid #e5e5e5;}
.l_grid_today .l_grid_today_td{ width:33%; text-align: center; height:37px; line-height: 37px; font-size:13px; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; }
.l_grid_today thead .l_grid_today_td{ border-right-width: 0;}
.l_grid_today thead .l_grid_today_border{ border-right:1px solid #e5e5e5;}
.l_grid_today .l_grid_today_col{ background-color: #f7faff; }
.l_grid_today .l_grid_today_col .l_grid_today_td{ text-align: left; padding-left:86px; font-size:16px;}
.l_grid_today .l_grid_date_box{ border:1px solid #aaa; width:130px; height: 20px; line-height: 20px; padding:10px;}
.l_grid_today .l_grid_date_input{ border: 0; width:100px; color: #808080;}
.l_grid_today .l_grid_date_img{ vertical-align: middle;}

.l_grid_vision .l_grid_cell{ width:auto;}
.l_grid_vision .l_vision_img,.l_grid_vision .l_vision_img img{ width:200px; height:200px;}
.l_grid_vision .l_vision_img{ border-radius: 10px; overflow: hidden; position: relative; float: left;}
.l_grid_vision .l_vision_img_mask{ background-color: #000; opacity: 0.7; filter:alpha(opacity=70);}
.l_grid_vision .l_vision_img_mask,.l_grid_vision .l_vision_img_name{position: absolute; bottom:0; left:0; right:0; height: 30px;}
.l_grid_vision .l_vision_img_name{ color: #fff; text-align: center; line-height: 30px; font-size:13px;}
.l_grid_vision .l_vision_rg{ margin-left:235px;}
.l_grid_vision .l_vision_rg_header{ padding-bottom:20px;font-size:14px; overflow: hidden;}
.l_grid_vision .l_vision_label{ display:block; float: left; width:80px; color: #000;}
.l_grid_vision .l_vision_ul{ margin-left:68px;}
.l_grid_vision .l_vision_li{ float: left; margin-bottom:15px; color:#ff0000; border-right:1px solid #ededed; padding:0 18px; height:13px; line-height: 13px;}
.l_grid_vision .l_border_none{ border-right: 0;}
.l_grid_vision .l_intro_lf_title{ width:465px;}
.l_grid_vision .l_vision_rg_body{ padding-right:20px;}
.l_grid_vision .l_vision_rg_line{ height: 30px; line-height: 30px;}
.l_grid_vision .l_vision_rg_line .l_size_18{ color: #000;}

.l_grid_latest .l_grid_cell{ margin:0 60px; width:auto;}
.l_grid_latest .l_grid_lf{ width:203px; float: left;}
.l_grid_latest .l_grid_rg{ margin-left:200px; height:100%; border-left:1px solid #e5e5e5; padding: 0 0 10px 35px; }
.l_grid_latest .l_latest_img_box{ overflow: hidden; margin-bottom:10px;}
.l_grid_latest .l_latest_img,.l_grid_latest .l_latest_img img{ width:80px; height: 80px;}
.l_grid_latest .l_latest_img{ float: left;  border-radius: 5px; overflow: hidden;}
.l_grid_latest .l_latest_img_name{ margin-left:100px; line-height: 20px; color: #808080;}
.l_grid_latest .l_latest_img_name .l_size_18{ color: #000; padding-top:5px;}
.l_grid_latest .l_grid_rg .l_grid_txt_time{ padding:10px 0;}
.l_grid_latest .l_grid_rg .l_grid_txt_contxt{padding-bottom:50px;}
.l_grid_latest .l_grid_cell_active{ margin-left:0; margin-right:0; padding-left:60px; padding-right:60px;}
