.l_color_orange{ color: #ff5722;}
.l_color_red{ color: #f44336;}
.l_color_purple{ color: #9c27b0;}
.l_color_blue{ color: #2196f3; }
.l_item{ border-top:1px solid #191919; color: #fff;}
.l_item p{ padding-left:25px; height: 56px; line-height: 56px;}
.l_item b{ padding-right: 5px; font-family: arial, sans-serif; font-weight: normal; font-size:22px;}
.l_item .l_item_word{ font-size:20px;}
.l_size_14{ font-size:14px;}
.l_size_16{ font-size:16px;}
.l_size_18{ font-size:18px;}
.l_size_20{ font-size:20px;}
.l_size_24{ font-size:24px;}

.l_grid_menu{ min-height: 224px; height: auto;}
.l_top_grid{ border-bottom: 0;}
.l_grid_360{ background-image: none; background-color: #fff;}
.l_grid_900{ position:relative; float:left; width:898px; background-color: #fff; border:1px solid #e5e5e5;}

.l_grid_540 .c_item:nth-child(1){ background-color:#ffcdd2; }
.l_grid_540 .c_item:nth-child(2){ background-color:#e1bee7; }
.l_grid_540 .c_item:nth-child(3){ background-color:#9c27b0; }
.l_grid_540 .c_item:nth-child(4){ background-color:#d32f2f; color:#fff; }
.l_grid_540 .c_item:nth-child(4) .c_per{ color:#fff; }
.l_grid_540 .c_item:nth-child(5){ background-color:#ff4081; }
.l_grid_540 .c_item:nth-child(6){ background-color:#fff; }
.l_grid_inner{ padding:40px 30px; }


.l_fd_table .c_fd_th{ border-top:1px solid #e5e5e5;}
.l_fd_table .c_item:nth-child(1){ width:160px; }
.l_fd_table .c_item:nth-child(8){ width: 110px;}
.l_fd_table .c_item:nth-child(10){ width:150px; }

.l_fd_body .c_item:nth-child(9):after{content:''; position:absolute; right:1px; top:18px; bottom:18px; border-left:1px solid #e5e5e5; }
.l_fd_body .c_ul:nth-child(6n+1) .c_item{ background-color:#fff7fa; }
.l_fd_body .c_ul:nth-child(6n+4) .c_item{ background-color: #f7faff;}

.l_fund_list,.l_cell_list,.l_cell_flow{margin-bottom:20px; border:1px solid #e5e5e5; background-color: #fff;}
.l_title_outer{  border-left:4px solid #ff1f35; padding:15px 25px 11px;}

.l_main_title{ font-size:24px; padding-bottom:3px;}
.l_sub_title2{color:#ff1f35;}

.l_main_title .l_title_small{ font-size:14px;}
.l_component,.l_trend{ display: inline-block; width:38px; height: 38px; background-image:url(images/l_tab_icon.png); background-repeat: no-repeat; vertical-align:middle;}
.l_component{ background-position: 0 -108px;}
.l_trend{ background-position: 0 -177px;}
.l_home_footer .c_home_news:first-child{ border-bottom: 0;}
.l_home_footer .c_home_news:nth-child(2){ }
.l_home_footer .l_new_cell{ display:inline-block; width: 396px; height: 300px; overflow: hidden; border-left:1px solid #e5e5e5; }
.l_home_footer .l_new_cell:first-child{ border-left: 0;}
.l_home_footer .l_new_cell:last-child{ position: relative; width:398px; background:url(images/l_superman_bg.jpg) no-repeat right bottom; color: #fff;}
.l_home_footer .l_img_box,.l_home_footer .l_new_img{ width:280px; height: 180px; }
.l_home_footer .l_new_code{  position: absolute; width:102px; top:89px; left:50%; margin-left:-51px; text-align: center; font-size: 16px; }

.l_home_footer .l_img_box{margin:15px auto 0; position: relative; border-radius: 8px; overflow: hidden; }
.l_home_footer .l_new_title{ position: absolute; left:0; right:0; bottom:0; height:53px; line-height:53px; background-color: rgba(0,0,0,.5); color: #fff; text-align:center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px;}
.l_home_footer .c_home_news .c_left{ width:750px;}
.l_home_footer .c_home_news .c_right{ border-left:1px solid #e5e5e5;}
.l_home_footer .c_home_news .c_first_title{ color: #000;}
.l_article_txt{ background:url(images/l-glo.jpg) no-repeat left top; padding-left:200px; padding-right: 70px; text-indent: 4em;}
.l_article_txt .l_article_title{ margin-top:30px; margin-bottom: 17px; text-indent: 0; font-size: 20px; font-weight: normal;}

.l_cell_list .l_title_outer{ position:relative; padding:10px 15px 10px 25px;}
.l_cell_list .c_top{ overflow:hidden; padding-bottom:10px; border-bottom:1px solid #e5e5e5; }
.l_cell_list .c_top_more{ float:right; margin-top:12px; padding:0 36px 0 0; }
.l_cell_list .c_top_more .c_arrow_right_outline2{ right:0; }
.l_cell_list .c_top_more .c_red{ font-size:16px; }
.l_cell_list .c_arrow_right_outline2{position:absolute; top:50%; right: 0;  transform:translateY(-50%);}
.l_cell_list .l_cell_title{ display: inline-block;}

.l_cell_list .l_cell_body{ height:297px; border-top:1px solid #e5e5e5;}
.l_cell_list .l_cell_left{  float:left; width:599px; height:100%; border-right:1px solid #e5e5e5;}
.l_cell_list .l_cell_right{ float: right; width: 598px;}
.l_cell_list .l_cell_inner{ padding:24px 48px 20px 25px; overflow: hidden;}
.l_cell_list .l_cell_txt{ float: left; width:300px;}
.l_cell_list .l_cell_img{ width:200px; float: right;}
.l_cell_list .l_cell_txt_head{ font-size: 24px; font-weight: normal;}
.l_cell_list .l_cell_txt_label{ padding:18px 0 5px; font-size: 14px; color: #212121;}
.l_cell_list .l_font_18{ font-size: 18px;}
.l_cell_list .l_cell_txt_button{ margin-top:20px;}

.l_cell_flow{ font-size: 16px;}
.l_cell_flow .l_title_outer{ margin:30px 43px 25px; padding:0 25px; border-left: 0;}
.l_cell_flow .c_title,.l_cell_policy .c_title,.l_step_title .c_title { font-size:24px; padding:0 0 3px 24px; border-left: 4px solid #ff0000;}
.l_cell_flow .c_title2,.l_cell_policy .c_title2,.l_step_title .c_title2{ margin:0 0 0 27px; color: #ff0000;}
.l_cell_flow .l_flow_img{ width: 109px; height: 109px; background-image:url(images/l_flow.jpg); background-repeat: no-repeat; display: inline-block;}
.l_cell_flow .l_flow_img01{ background-position: 0 0; }
.l_cell_flow .l_flow_img02{ background-position: -190px 0; }
.l_cell_flow .l_flow_img03{ background-position: -380px 0; }
.l_cell_flow .l_flow_img04{ background-position: -570px 0; }
.l_cell_flow .l_flow_img05{ background-position: -760px 0; }
.l_cell_flow .l_flow_img06{ background-position: -949px 0; }

.l_cell_flow .l_cell_flow_wrap{ height:197px; margin-top: 20px; padding-left: 82px; font-size:14px; color:#808080;}
.l_cell_flow .l_cell_flow_box{ display: block;  float: left; width:160px; text-align: center; color: #808080;}
.l_cell_flow .l_cell_flow_box:nth-child(2n){ width:20px; }
.l_cell_flow .l_flow_next{ margin-top: 48px; background:url(images/l_tab_icon.png) no-repeat left -55px; display: inline-block; width:20px; height: 32px;}
.l_cell_flow .l_cell_flow_title{ padding-top:13px; line-height: 24px;}
.l_cell_grid{ overflow: hidden;}
.l_cell_title_nav{ padding:12px 23px; height:37px;}
.l_cell_title_nav .l_cell_title_label{ display: inline-block; width:100px; height: 37px; margin-right:10px; text-align:center; line-height: 37px; font-size: 16px;}
.l_cell_title_nav .active{ color: #fff; background-color: #ff1f35; border-radius: 20px;}

.l_button{color:#fff;  height:36px; line-height:36px; text-align:center; min-width:120px; font-size:14px; display:inline-block; border-radius:18px; text-indent:0;  }
.l_button:hover{ color:#fff; }
.l_button_red{ background-color:#ff1f35; }
.l_button_green{ background-color: #2196f3;}

.l_grid_cell,.l_grid_cell_800{ margin-left:25px; border-top: 1px dashed #dadada; padding:37px 0; overflow: hidden;}
.l_grid_bord_none{ border:0;}
.l_grid_cell{ width:690px;}
.l_grid_cell a,.l_grid_cell_800 a{ display: block; width:100%; height:27px; color: #808080; font-size: 14px;}
.l_grid_cell a:hover,.l_grid_cell_800 a:hover,.l_grid_cell .l_policy_time,.l_grid_cell .l_grid_txt_time,.l_intro_rg_time{color: #ff0000;}
.l_grid_cell .l_grid_img{ width:202px; float: left;}
.l_grid_cell .l_grid_right{ width:488px; float: right; font-size: 14px;}
.l_grid_cell .l_grid_txt_title{ font-size: 18px; font-weight: normal; color: #212121; width:415px; height: 26px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.l_grid_cell .l_grid_txt_contxt{ line-height: 25px; color: #9c9c9c;}
.l_grid_cell .l_policy_title,.l_grid_cell_800 .l_intro_lf_title{  display:block; width:600px; float: left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.l_grid_cell .l_policy_time,.l_grid_cell_800 .l_intro_rg_time{ display: block; float: right;}
.l_grid_cell .l_grid_right .l_policy_title{ width:415px;}
.l_grid_cell .l_grid_right .l_grid_txt_time{ height: 30px; line-height: 30px;}
.l_grid_cell_800{ width:800px;}
.l_grid_900 .l_grid_cell:nth-child(2),.l_grid_900 .l_grid_cell_800:nth-child(2){ border-top-width: 0;}
.l_padding_bottom_0{ padding-bottom:0;}
/**left banner**/
.l_right_banner{  position: fixed; right:30px; top:590px; z-index:100;}
.l_right_banner .l_icon_box{ position: relative; display: block; padding-top:10px;  width:48px; height: 53px; line-height: 23px; text-align: center; background:url(images/l_banner_line.png) no-repeat center top;}
.l_right_banner .l_icon_box:first-child{ background:none;}
.l_right_banner .l_icon01,.l_right_banner .l_icon02,.l_right_banner .l_icon03,.l_right_banner .l_icon04{ display: inline-block; vertical-align: middle; background-repeat: no-repeat;}
.l_right_banner .l_icon01{  width:22px; height: 22px;  background-image:url(images/ico_qrcode.png);}
.l_right_banner .l_icon02{  width:26px; height: 18px; background-image: url(images/ico_online.png);}
.l_right_banner .l_icon03{  width:24px; height: 18px; background-image: url(images/ico_diamond.png);}
.l_right_banner .l_icon04{  width:24px; height: 24px; background-image: url(images/ico_tool_5.png);}
.l_right_banner .l_icon_box:hover .l_icon,.l_right_banner .l_icon_txt{ display: none;}
.l_right_banner .l_icon_box:hover .l_icon_txt{ position: absolute; display: block; left:-10px; bottom:0; top:0; right:-10px; padding:10px 12px; background-color:#ff1f35; font-size:16px; line-height: 22px; color: #fff; }
.l_right_banner .l_qcode{ display: none; position: absolute; width:270px;  left:-280px; top:0; background-color: #fff; box-shadow: 1px 2px 2px #bbbaba; border: 1px solid #f2f2f2;}
.l_right_banner .l_icon_box:hover .l_qcode{ display: block; color: #333;}
.l_right_banner .l_qcode_inner{ overflow: hidden; padding:30px 0;}
.l_right_banner .l_qcode_cell{ float: left; width:135px; text-align: center; line-height: 20px; font-size: 14px;}
.l_right_banner .l_qcode_img{ width:135px; height: 79px; border-left:1px solid #d9d9d9; padding:7px 0;}
.l_right_banner .l_qcode_cell:first-child .l_qcode_img{ border-left: 0;}

.l_home_footer .c_home_news{ height:300px;}
.l_home_footer .c_home_news:first-child{height: 291px;}
.l_home_footer  .c_left .c_home_news_list,.l_policies .c_left .c_home_news_list{ margin-top:10px; margin-left:260px;}
.l_home_footer .c_home_news .c_item{ padding-bottom:8px;}
.l_home_footer .c_home_news .c_first_img,.l_policies .c_first_img{ margin-left:0; margin-top:20px; width:220px;}

.l_policies{ height: 292px;}
.l_policies .c_left{ width:670px; }
.l_policies .c_home_news .c_first_title{ color: #000;}
.l_policies .c_right{ border-left:1px solid #e5e5e5; height: 100%;}
.l_policies .l_policies_word{ padding:20px 75px 0;}
.l_policies .l_policies_word{ font-size: 30px; font-style: italic;}
.l_policies .l_policies_word_top{ position: absolute; top: 65px; left: 36px;}
.l_policies .l_policies_word_bottom{ position: absolute; top:110px; left: 120px;}


.l_page_body{ padding:0px 40px 20px 30px;}
.l_page_head{ height: 357px; margin-bottom:20px; overflow: hidden;}
.l_page_left,.l_page_right{ width:43px; height: 43px; display: block;}
.l_page_left{ background:url(images/ico_page_lf.png) no-repeat;}
.l_page_right{ background:url(images/ico_page_rg.png) no-repeat;}
.l_page_menu_outer{ position: relative; z-index:100; width:300px;}
.l_page_menu_inner{ position: absolute; left:0; top:0; background-color:#212121;}
.l_page_menu_inner .c_page_menu_ul .active{ background-color: #f42536;}
.l_team_intro{ height: 340px;}
.l_team_intro .c_title{ padding-left:0;}
.l_team_intro .c_title2{ margin-left:33px; line-height: 20px; font-size: 12px;}
.l_team_intro .l_page_left,.l_team_intro .l_page_right{position: absolute; top: 86px;}
.l_team_intro .l_page_left{ left:16px;}
.l_team_intro .l_page_right{ right:16px;}
.l_team_intro_list{ position: relative; width:817px; height: 230px; margin-top:40px; overflow: hidden;}
.l_team_intro_cell{ position: absolute; left:85px; right:85px; height:220px; border-radius: 10px; text-indent: 0; background-color:#fff; overflow: hidden;}
.l_team_intro_img{ float: left; width:200px; height:220px; }
.l_team_intro_txt{ margin:30px 64px 0 230px; }
.l_team_intro_name{ font-size:24px;}
.l_team_intro_title{ font-size:16px; padding-left:25px;}
.l_team_intro_englist{ color:#ff1f35; font-size:14px;}
.l_team_intro_words{ padding-top:18px; font-size:14px; line-height: 23px; color: #666;}

.l_grid_menu .c_ico{ display: inline-block;}
.l_grid_menu .active .l_menu_father_label{ background-color:#212121;}
.l_grid_menu .c_menu_child .active,.l_grid_menu .c_menu_child .c_item:hover{ background-color:#f42536;}
.l_grid_menu .c_page_menu_ul .active .c_menu_item{ padding-left:25px;}
.l_intro_title{ padding-bottom: 24px; color: #212121; font-size: 18px;}
.l_intro_txt{ font-size: 14px; color: #808080; text-indent:2.8em; line-height: 28px;}
.l_intro_red_title{ padding: 7px 0; color: #ff1f35;}
.l_intro_inner{ padding-bottom: 13px; font-size: 14px;}

.l_indent_0{ text-indent: 0;}
.l_team_vip_cell{ margin-bottom:20px; height:220px; border-radius: 10px; text-indent: 0; background-color:#fafafa; overflow: hidden;}
.l_team_intro_txt .l_team_intro_title{ color: #000;}

.l_grid_left{ position: relative; float: left; width:900px; }
.l_grid_left_head{ background-color: #fff;}
.l_grid_left_body{border-top:1px solid #e5e5e5; }
.l_grid_left_body .l_grid_left_box:nth-child(2n-1){ width:448px; border-left:1px solid #e5e5e5; }
.l_grid_left_box{ float: left; width:449px; min-height: 200px; height: auto; padding-top:22px; background-color: #fff; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.l_grid_left_img{ float: left; width:120px; text-align: center;}
.l_grid_left_content{ margin-left:120px; width:260px; color: #212121;}
.l_grid_left_content .l_size_14{ color: #808080; padding-top: 10px; line-height: 24px;}
.l_grid_left_height{ height: 228px;}
.l_schemes_txt{ border-bottom:1px dashed #e1e1e1; min-height:93px; overflow: hidden;}
.l_schemes_content{ position: relative; width:295px; height: 100%; }
.l_schemes_block{ float: left; display: block; width:12px; height: 18px; margin-right:8px;}
.l_schemes_block_grey{ background-color: #d9d9d9;}
.l_schemes_block_orange{ background-color: #ff5722; }
.l_schemes_block_red{ background-color: #f44336;}
.l_schemes_block_purple{ background-color: #9c27b0;}
.l_schemes_block_blue{ background-color: #2196f3;}
.l_schemes_block_blue1{ background-color: #00bcd4;}
.l_page_content{ overflow:hidden; margin-left:300px; }
.l_schemes_foot{ position: absolute; left: 0; right: 0; bottom:24px; font-size: 14px; color: #808080;}
.l_schemes_foot_lf{ float: left; width:190px;}
.l_schemes_foot_rg{ margin-left:190px; width:100px;}
.l_page_content .c_title{ font-size:24px; margin:35px 0 5px 25px; padding:0 0 0 24px; border-left:4px solid #ff1f35; position:relative;}
.l_page_content .c_title2{ color:#ff1f35; margin:0 0 0 54px; }

.l_flow_box{ margin-bottom:50px;}
.l_flow_box_img{ margin-bottom:20px;}
.l_flow_box_dialog{ position: relative; padding:20px; border:2px solid #ffe4e6; border-radius: 5px; font-size:14px; line-height: 30px; color: #808080; }
.l_flow_box_dialog .l_button_red{ display: block; margin:15px 15px 15px 0; width: 120px; height: 36px; color: #fff;  }
.l_flow_box_dialog .l_button_red:hover{ color: #fff;}
.l_flow_triangle{ position: absolute; top:-18px; left:100px; display: block; width:20px; height: 18px; background:url(images/l_box_trangle.jpg) no-repeat;}
.l_flow_step01{ left:33px;}
.l_flow_step02{ left:175px;}
.l_flow_step03{ left:321px;}
.l_flow_step04{ left:462px;}
.l_flow_step05{ left:606px;}
.l_flow_step06{ left:746px;}




