.c_ico{ background-repeat:no-repeat; }
.c_arrow_bottom_white{ background-image:url(images/ico_arrow_down_white.png); width:10px; height:6px; }
.c_arrow_down_outline{ background-image:url(images/ico_arrow_down_outline.png); width:24px; height:24px; }
.c_arrow_right_outline{ background-image:url(images/ico_arrow_right_outline.png); width:24px; height:24px; }
.c_arrow_right_outline2{ background-image:url(images/ico_arrow_right_outline2.png); width:24px; height:24px; }
.c_arrow_right{ background-image:url(images/ico_arrow_right.png); width:6px; height:10px; }
.c_arrow_down, .c_arrow_bottom{ background-image:url(images/ico_arrow_bottom.png); width:10px; height:6px; }
.c_arrow_bottom_red{ background-image:url(images/ico_arrow_bottom_red.png); width:10px; height:6px; }
.c_ico_t1{ background-image:url(images/ico_tool_1.png); width:24px; height:25px; }
.c_ico_t2{ background-image:url(images/ico_tool_2.png); width:20px; height:24px; }
.c_ico_t3{ background-image:url(images/ico_tool_3.png); width:24px; height:25px; }
.c_ico_t4{ background-image:url(images/ico_tool_4.png); width:24px; height:24px; }
.container{ width:1200px; margin:0 auto; position:relative; }
.c_red{ color:#ff1f35 !important; font-size:12px; }
.c_grey{ color:#808080 !important; }
.c_green{ color:#299f55; }
.c_button{ color:#fff; background-color:#ff1f35; height:36px; line-height:36px; text-align:center; min-width:90px; font-size:14px; display:inline-block; border-radius:18px; text-indent:0; }
.c_button:hover{ background-color:#d82736; color:#fff; }
.c_ico_right{ position:relative; }
.c_ico_right .c_ico:last-child{ position:absolute; top:50%; right:20px; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); }
.c_top_grid{ position:relative; margin-bottom:20px; border-bottom:1px solid #e5e5e5; }
.c_grid_more{ width:275px; height:50px; line-height:50px; position:absolute; left:0; top:-50px; z-index:999; background-color:#f42536; color:#fff; padding-left:25px; font-size:16px; }
.c_grid_menu{ width:300px; height:360px; background-color:#212121; float:left; overflow:hidden; }
.c_grid_ul a{ color:#fff; display:block; height:50px; line-height:50px; padding-left:25px; font-size:16px; }
.c_grid_ul a:hover, .c_grid_ul .active{ background-color:#ff1f35; }
.c_grid_menu .c_ico{ display:none; }
.c_grid_ul a:hover .c_ico, .c_grid_ul .active .c_ico{ display:block; }
.c_grid_bottom{ }
.c_grid_bottom .c_ico{ vertical-align:middle; display:inline-block; margin:0 5px 0 22px; }
.c_grid_bottom a{ color:#fff; font-size:16px; vertical-align:middle; display:inline-block; }
.c_grid_bottom .c_item{ float:left; margin:-1px; border:1px solid rgba(0, 0, 0, 0.25); height:80px; line-height:74px; width:50%; }
.c_grid_bottom .c_item:hover{ background-color:#ff1f35; }
.c_grid_bottom .c_item:nth-child(1){ border-right:none; border-bottom:none; }
.c_grid_bottom .c_item:nth-child(3){ border-right:none; }
.c_grid_bottom .c_item:nth-child(2){ border-bottom:none; }
.c_grid_900{ float:left; width:900px; display:none; }
.c_grid_360{ float:left; width:360px; height:360px; background-color:#fff; position:relative; }
.c_grid_360 .c_inner{ padding:22px 0 0 30px; position:relative; z-index:999; }
.c_grid_360 .c_grid_360_ad{ position:absolute; right:0; bottom:0; }
.c_grid_360 .c_title{ font-size:24px; padding-bottom:5px; }
.c_grid_360 .c_qrcode{ padding:1px 20px 15px; display:block; }
.c_grid_360 .c_subtitle{ padding-bottom:3px; }
.c_ps{ color:#ff1f35; font-size:0; overflow:hidden; }
.c_ps_f{ font-size:64px; vertical-align:text-top; float:left; }
.c_ps_e{ font-size:32px; vertical-align:text-top; padding-top:12px; float:left; }
.c_grid_360 .c_button_outline{ }
.c_button_outline{ color:#ff1f35; background-color:transparent; border:2px solid #ff0000; padding:12px 30px; border-radius:22px; display:inline-block; font-size:16px; }
.c_button_outline:hover{ background-color:#ff0000; color:#fff; }
.c_grid_540{ float:left; width:540px; height:360px; }
.c_grid_540 .c_item:hover{ color:#333; }
.c_grid_540 .c_adi{ position:absolute; right:0; top:0; }
.c_grid_540 .c_adi img{ height:100%; }
.c_grid_540 .c_item:nth-child(1){ background-color:#f0e6dd; }
.c_grid_540 .c_item:nth-child(2){ background-color:#f7f7f7; }
.c_grid_540 .c_item:nth-child(3), .c_grid_540 .c_item:nth-child(3):hover{ background-color:#349ce3; color:#fff; }
.c_grid_540 .c_item:nth-child(4), .c_grid_540 .c_item:nth-child(4):hover{ background-color:#f05b89; color:#fff; }
.c_grid_540 .c_item:nth-child(3) .c_per{ color:#fff; }
.c_grid_540 .c_item:nth-child(4) .c_per{ color:#fff; }
.c_grid_540 .c_item:nth-child(5){ background-color:#e4e7ed; }
.c_grid_540 .c_item:nth-child(6){ background-color:#fff; }
.c_grid_540 .c_item{ float:left; width:180px; height:180px; position:relative; }
.c_grid_540 .c_inner{ padding:14px 20px 0 20px; }
.c_grid_540 .c_hot{ padding-bottom:1px; font-size:12px !important; }
.c_grid_540 .c_title{ font-size:18px; padding-bottom:2px; }
.c_grid_540 .c_subtitle{ padding-bottom:2px; }
.c_grid_540 .c_per{ color:#ff0000; font-size:32px; }
.c_grid_540 .c_grid_news:nth-child(3){ color:#fff; font-size:16px; }
.c_grid_540 .c_grid_news .c_title{ height:80px; overflow:hidden; font-size:16px; }
.c_grid_540 .c_date{ color:#ababab; font-size:12px; }
.c_grid_900 .c_ico_right{ background-image:url(images/ico_arrow_right3_outline.png); width:24px; height:24px; margin:5px 0 0; display:block; }
.c_grid_900 .c_ico_right2{ background-image:url(images/ico_arrow_right2_outline.png); width:24px; height:24px; margin:5px 0 0; display:block; }
.c_grid_star .c_button_outline{ margin-top:106px; }
.c_grid_star .c_item2{ width:360px; background-color:#e6eff9 !important; }
.c_grid_star .c_item3{ width:360px; background-color:#9c21b5 !important; color:#fff !important; }
.c_grid_star .c_item3 .c_per{ color:#fff; }
.c_grid_star .c_item:nth-child(4), .c_grid_star .c_item:nth-child(4):hover{ background-color:#ff5221; }
.c_grid_theme .c_ico_tab_theme{ background-image:url(images/ico_tab_theme.png); width:40px; height:40px; display:inline-block; vertical-align:middle; margin-right:4px; }
.c_grid_theme .c_grid_360_top{ background-color:#1975d0; color:#fff; padding:28px; display:block; }
.c_grid_theme .c_grid_360{ background-color:#e1ecf5; }
.c_grid_theme .c_item{ width:392px; position:relative; }
.c_grid_theme .c_title{ padding-bottom:4px; }
.c_grid_theme .c_title2{ padding-bottom:5px; }
.c_grid_theme .c_inner{ padding-top:22px; }
.c_grid_theme .c_item2, .c_grid_theme .c_item2:hover{ width:148px; color:#fff; background-color:#e64a19 !important; }
.c_grid_theme .c_item3, .c_grid_theme .c_item3:hover{ width:148px; color:#fff; background-color:#7b1fa2 !important; }
.c_grid_theme .c_item:nth-child(2){ background-color:#ffefeb; }
.c_grid_theme .c_item:nth-child(4), .c_grid_theme .c_item:nth-child(4):hover{ background-color:#e5d5e8; color:#000; }
.c_grid_theme .c_item:nth-child(4) .c_per{ color:#e64a19; }
.c_grid_theme .c_grid_540 .c_button_outline{ position:absolute; bottom:26px; left:240px; }
.c_grid_million{ }
.c_grid_million .c_inner{ padding-right:22px; position:static; }
.c_grid_million .c_ico_right,
.c_grid_million .c_ico_right2{ position:absolute; left:30px; bottom:22px; }
.c_grid_million .c_grid_360 .c_item:nth-child(1), .c_grid_million .c_grid_360 .c_item:nth-child(1):hover{ background-color:#f7f7f7; color:#555; }
.c_grid_million .c_grid_360 .c_item:nth-child(2), .c_grid_million .c_grid_360 .c_item:nth-child(2):hover{ background-color:#349ce3; color:#fff; }
.c_grid_million .c_grid_360 .c_item:nth-child(3), .c_grid_million .c_grid_360 .c_item:nth-child(3):hover{ background-color:#00bcd4; color:#555; }
.c_grid_million .c_grid_360 .c_item:nth-child(4), .c_grid_million .c_grid_360 .c_item:nth-child(4):hover{ background-color:#f7f7f7; color:#555; }
.c_grid_million .c_ico{ position:absolute; right:0; bottom:0; width:80px; height:80px; }
.c_ico_heart{ background-image:url(images/ico_tab_heart.png); }
.c_ico_persion{ background-image:url(images/ico_tab_person.png); }
.c_ico_good{ background-image:url(images/ico_tab_good.png); }
.c_ico_cart{ background-image:url(images/ico_tab_cart.png); }
.c_grid_million .c_grid_360 .c_item{ width:50%; height:50%; float:left; position:relative; }
.c_grid_million .c_grid_360{ background-image:none; }
.c_grid_million .c_button_outline{ border-color:#fff; color:#fff; position:absolute; right:32px; top:30px; }
.c_grid_million .c_ad_txtbox{ position:absolute; background-color:rgba(0, 0, 0, 0.25); padding:22px; bottom:0; left:0; right:0; color:#fff; }
.c_grid_million .c_grid_ad{ position:relative; height:100%; overflow:hidden; }
.c_grid_million .c_grid_ad img{ width:100%; }
.c_ico_heart2{ display:block; background-image:url(images/ico_tab_heart2.png); width:40px; height:36px; margin-bottom:5px; }
.c_ico_good2{ display:block; background-image:url(images/ico_tab_good2.png); width:40px; height:40px; margin-bottom:5px; }
.c_ad{ margin-bottom:20px; }
.c_ad img{ width:100%; display:block; }
.c_home_news{ border:1px solid #e5e5e5; overflow:hidden; height:450px; position:relative; background-color:#fff; width:100%; }
.c_home_news .c_left{ width:658px; padding-right:50px; float:left; }
.c_home_news .c_right{ overflow:hidden; }
.c_home_news .c_right .c_title, .c_home_news .c_right .c_title2{ padding-right:45px; }
.c_home_news .c_title{ font-size:24px; padding:0 0 3px 24px; margin:33px 0 5px 29px; border-left:4px solid #ff1f35; line-height:0.7; height:17px; }
.c_home_news .c_more{ font-size:16px; height:22px; line-height:24px; color:#ff1f35; }
.c_home_news .c_title2{ color:#ff0000; margin:0 0 0 57px; }
.c_home_news .c_title2 .c_more{ font-size:12px; color:#888; line-height:1; }
.c_home_news .c_first_img{ float:left; width:180px; height:180px; margin:8px 0 0 60px; }
.c_home_news .c_first_img img{ width:100%; }
.c_home_news .c_first_title{ font-size:18px; display:block; margin:8px 0 8px 260px; }
.c_home_news .c_first_content{ color:#808080; font-size:14px; margin:0 0 5px 260px; line-height:24px; }
.c_home_news .c_first_date{ color:#ff0000; font-size:14px; margin:0 0 10px 260px; }
.c_home_news .c_left .c_home_news_list{ margin:22px 0 8px 60px; }
.c_home_news .c_right .c_home_news_list{ margin:19px 0 8px; padding-right:45px; padding-left:59px; }
.c_home_news .c_right .c_has_merge{ border-bottom:1px solid #e5e5e5; padding-bottom:12px; margin-bottom:-4px; }
.c_home_news .c_item{ font-size:14px; overflow:hidden; padding-bottom:11px; }
.c_home_news .c_item .c_date{ float:right; color:#ff0000; }
.c_home_news a{ overflow:hidden; display:block; white-space:nowrap; text-overflow:ellipsis; }
.c_home_news .c_right{ overflow:hidden; border-left:1px solid #e5e5e5; height:100%; }
.c_fund_list{ border:1px solid #e5e5e5; background-color:#fff; margin-bottom:20px; }
.c_fund_list.active .c_top{ position:fixed; top:0; background-color:#fff; width:1198px; z-index:999; }
.c_fund_list.active .c_fd_th{ position:fixed; top:60px; background-color:#fff; width:1198px; z-index:999; }
.c_fund_list.active .c_fd_table{ padding-top:60px; }
.c_fund_list.active .c_fd_body{ padding-top:41px; }
.c_fund_list .c_top{ overflow:hidden; padding-bottom:10px; border-bottom:1px solid #e5e5e5; }
.c_fund_list .c_top_more{ float:right; margin:12px 20px 0 15px; padding:0 36px 0 0; }
.c_fund_list .c_top_more .c_arrow_right_outline2{ right:0; }
.c_fund_list .c_top_more .c_red{ font-size:16px; }
.c_fund_list .c_fund_ul{ font-size:16px; overflow:hidden; margin:12px 12px 0 20px; display:flex; flex-flow:row; white-space:nowrap; text-align:center;}
.c_fund_list .c_fund_ul .c_item{ height:36px; line-height:36px; flex:1; float:left\9; width:127px\9; }
.c_fund_list .c_fund_ul .c_item a{ display:block; margin:0 6px; color:#444; border-radius:18px; }
.c_fund_list .c_fund_ul .c_item a:hover, .c_fund_list .c_fund_ul .c_item .active{ color:#fff; background-color:#ff0000; }
.c_fd_table{ background-color:#fff; }
.c_fd_th{ overflow:hidden; line-height:38px; text-align:center; border-bottom:1px solid #e5e5e5; }
.c_fd_th .c_item{ float:left; color:#a6a6a6; cursor:pointer; }
.c_fd_th .c_item:hover{ color:#ff0000; }
.c_fd_th .c_item:hover .c_arrow_bottom{ background-image:url(images/ico_arrow_bottom_red.png); }
.c_fd_th .active .c_arrow_bottom{ transform:rotate(180deg); }
.c_fd_table .c_item:nth-child(1){ width:200px; }
.c_fd_table .c_item:nth-child(2){ width:110px; }
.c_fd_table .c_item:nth-child(3){ width:100px; }
.c_fd_table .c_item:nth-child(4){ width:100px; }
.c_fd_table .c_item:nth-child(5){ width:100px; }
.c_fd_table .c_item:nth-child(6){ width:100px; }
.c_fd_table .c_item:nth-child(7){ width:100px; }
.c_fd_table .c_item:nth-child(8){ width:230px; }
.c_fd_table .c_item:nth-child(9){ width:156px; }
.c_fd_table .c_fd_body{ font-size:13px; }
.c_fd_table .c_fd_body .c_ul{ color:#808080; overflow:hidden; }
.c_fd_table .c_fd_body a:hover{ text-decoration:underline; }
.c_fd_table .c_fd_body .c_item:nth-child(2){ font-size:16px; color:#ff0000; }
.c_fd_table .c_fd_body .c_item:first-child{ text-indent:-1em; border-right:1px solid #e5e5e5; color:#555; }
.c_fd_table .c_fd_body .c_item{ text-align:center; height:60px; float:left; line-height:60px; border-bottom:1px solid #e5e5e5; position:relative; }
.c_fd_list .c_item:nth-child(1):after,
.c_fd_list .c_item:nth-child(4):after,
.c_fd_body .c_item:nth-child(2):after,
.c_fd_body .c_item:nth-child(3):after,
.c_fd_body .c_item:nth-child(4):after,
.c_fd_body .c_item:nth-child(5):after,
.c_fd_body .c_item:nth-child(6):after,
.c_fd_body .c_item:nth-child(7):after,
.c_fd_body .c_item:nth-child(8):after,
.c_fdll_table .c_item:nth-child(9):after{ content:''; position:absolute; right:1px; top:18px; bottom:18px; border-left:1px solid #e5e5e5; }
.c_page{ }
.c_page_menu{ margin-top:-50px; background-color:#212121; width:300px; float:left; }
.c_page_menu .c_title{ width:275px; height:50px; line-height:50px; background-color:#f42536; color:#fff; padding-left:25px; font-size:16px; }
.c_page_menu_ul{ }
.c_page_menu_ul > .c_item{ }
.c_page_menu_ul .c_menu_item{ position:relative; color:#fff; display:block; height:50px; line-height:50px; padding-left:25px; font-size:16px; -webkit-transition:all .2s cubic-bezier(0.25, .5, .5, .9);
-moz-transition:all .2s cubic-bezier(0.25, .5, .5, .9);
transition:all .2s cubic-bezier(0.25, .5, .5, .9); }
.c_page_menu_ul .c_menu_item:hover,
.c_page_menu_ul .active > a{ background-color:#ff1f35; }
.c_page_menu_ul .c_item a{ color:#fff; display:block; height:50px; line-height:50px; padding-left:25px; font-size:16px; -webkit-transition:all .2s cubic-bezier(0.25, .5, .5, .9);
-moz-transition:all .2s cubic-bezier(0.25, .5, .5, .9);
transition:all .2s cubic-bezier(0.25, .5, .5, .9); }
.c_menu_child{ background-color:#424242; display:none; }
.c_page_menu_ul .active .c_menu_child{ display:block; }
.c_page_menu_ul .active .c_menu_item, .c_page_menu_ul .active .c_menu_child a{ padding-left:45px; }
.c_page_menu_ul .active .c_ico{ background-image:url(images/ico_arrow_down_white.png); width:10px; height:6px; }
.c_page_content{ overflow:hidden; background-color:#fff; border:1px solid #e5e5e5; min-height:600px; }

.c_page_content .c_title{ font-size:24px; margin:35px 0 5px 25px; padding:0 0 0 24px; border-left:4px solid #ff1f35; position:relative; }
.c_page_content .c_title2{ color:#ff1f35; margin:0 0 0 54px; }
.c_page_body .c_title3{ font-size:18px; padding-bottom:14px; color:#333; text-indent:0; }
.c_page_nav{ padding:20px 0 2px 10px; }
.c_page_nav ul{ overflow:hidden; }
.c_page_nav li{ float:left; padding:0 16px; position:relative; }
.c_page_nav li:after{ content:'>'; color:#808080; position:absolute; right:-4px; top:0; }
.c_page_nav li:last-child:after{ content:''; }
.c_page_nav a{ color:#808080; }
.c_page_nav a:hover{ color:#ff1f35; }
.c_page_body{ padding:18px 40px 20px 54px; font-size:14px; color:#666; line-height:30px; text-indent:2em; }
.c_ico_fund1{ background-image:url(images/ico_fund_1.png); width:84px; height:80px; display:inline-block; vertical-align:middle; }
.c_ico_fund2{ background-image:url(images/ico_fund_2.png); width:84px; height:80px; display:inline-block; vertical-align:middle; }
.c_ico_fund3{ background-image:url(images/ico_fund_3.png); width:84px; height:80px; display:inline-block; vertical-align:middle; }
.c_fund_banner{ height:680px; }
.c_fund_banner img{ height:680px; }
.c_fund_single{ margin-top:-486px; position:relative; z-index:999; min-height:500px; }
.c_fund_single .c_fund_list{ margin-bottom:0; border-bottom:none; }
.c_fund_single .c_fund_body{ background-color:#fff; border:1px solid #e5e5e5; min-height:810px; border-top:none; }
.c_single_top{ overflow:hidden; color:#fff; margin-bottom:80px; }
.c_single_top .c_title{ font-size:56px; text-shadow:0 2px 5px rgba(0, 0, 0, .2); padding-bottom:5px; }
.c_single_top .c_title2{ font-size:20px; }
.c_single_top .c_button{ min-width:250px; margin-top:22px; height:60px; line-height:60px; border-radius:30px; font-size:24px; }
.c_fund_info{ overflow:hidden; background-color:#fff; /* border-bottom:1px solid #e5e5e5;*/ }
.c_fund_info .c_row{ overflow:hidden; display:block; flex-flow:row; padding:35px 0 30px 0px; height:150px; }
.c_fund_info .c_row:last-child{ background-color:#fafafa; border-top:1px solid #e5e5e5; }
.c_fund_info .c_col{ width:185px; position:relative; padding:0 17px; white-space:nowrap; box-sizing:border-box; float:left; }
.c_fund_info .c_col:after{ content:''; position:absolute; right:0; top:15px; bottom:15px; border-left:1px solid #e5e5e5; }
.c_fund_info .c_row:nth-child(2) .c_col:last-child:after{ border:none; }
.c_fund_info .c_grey{ font-size:16px; padding-bottom:13px; }
.c_fund_info .c_red{ font-size:30px; }
.c_fund_info .c_null{ font-size:26px; }
.c_fund_info .c_row .c_col:first-child .c_red{ font-size:46px; margin-top:-7px; }
.c_fund_info .c_txt{ font-size:30px; }
.c_fund_info .c_row:nth-child(2) .c_col:first-child,
.c_fund_info .c_row:nth-child(3) .c_col:first-child{ width:205px; }
.c_fund_info .c_row:nth-child(3) .c_col:last-child{ width:185px; }
.c_fund_info_etf .c_col{ width:auto; }
.c_fund_info_etf .c_row:nth-child(3) .c_col:nth-child(2){ width:151px; }
.c_fund_info_etf .c_row:nth-child(3) .c_col:nth-child(3){ width:143px; }
.c_fund_chart{ float:right; width:360px; height:286px; padding:14px 20px 0; border-left:1px solid #e5e5e5; position:relative; }
.c_fund_chart .c_title{ font-size:20px; }
.c_fund_chart .c_title2{ font-size:12px; }
.c_fund_chart .c_drop_menu{ position:absolute; top:15px; right:22px; cursor:pointer; }
.c_fund_chart_body{ padding-top:12px; }
.c_fund_chart_body .c_null{ text-align:center; font-size:36px; margin-top:60px; }
.c_drop_menu{ }
.c_fund_single .c_fund_ul{ font-size:14px; margin:12px 9px 0; float:none; }
.c_fund_single .c_left{ overflow:hidden; }
.c_fund_single .c_right{ float:right; width:300px; }
.c_fs_grid .c_title{ font-size:13px; padding-bottom:15px; }
.c_fs_grid .c_txt1{ font-size:18px; }
.c_fs_grid .c_txt2{ font-size:36px; position:relative; }
.c_fs_grid .c_row2 .c_txt2{ top:-4px; }
.c_fs_grid .c_txt3{ font-size:18px; }
.c_fs_grid .c_txt4{ font-size:28px; }
.c_fs_grid .c_txt5{ font-size:34px; }
.c_fs_grid .c_apart{ margin:20px 0 16px; border-top:1px dashed; }
.c_fs_grid .c_item{ padding:16px; }
.c_fs_grid .c_col:last-child{ padding-left:25px; margin-left:42px; position:relative; }
.c_fs_grid .c_col:last-child:after{ content:''; position:absolute; left:0; top:22px; bottom:22px; border-left:1px solid; }
.c_h49{ height:34px; }
.c_row{ display:flex; flex-flow:row; box-sizing:border-box; }
.c_row2 .c_col{ width:50%; }
/*theme*/
.c_fs_blue.c_item{ padding:16px; background-color:#2196f3; color:#fff; }
.c_fs_blue .c_apart{ border-color:#fff; }
.c_fs_blue .c_col:last-child:after{ border-color:#fff; }
.c_fs_178.c_item{ padding:16px; background-color:#b2ebf2; color:#333; }
.c_fs_178 .c_apart{ border-color:#333; }
.c_fs_178 .c_col:last-child:after{ border-color:#333; }
.c_fs_83.c_item{ padding:16px; background-color:#536dfe; color:#fff; }
.c_fs_83 .c_apart{ border-color:#fff; }
.c_fs_83 .c_col:last-child:after{ border-color:#fff; }
.c_fs_red.c_item{ padding:16px; background-color:#f44336; color:#fff; }
.c_fs_red .c_apart{ border-color:#fff; }
.c_fs_red .c_col:last-child:after{ border-color:#fff; }
.c_fs_255.c_item{ padding:16px; background-color:#ff4081; color:#fff; }
.c_fs_255 .c_apart{ border-color:#fff; }
.c_fs_255 .c_col:last-child:after{ border-color:#fff; }
.c_fs_156.c_item{ padding:16px; background-color:#9c27b0; color:#fff; }
.c_fs_156 .c_apart{ border-color:#fff; }
.c_fs_156 .c_col:last-child:after{ border-color:#fff; }
.c_fs_orange.c_item{ padding:16px; background-color:#ff5722; color:#fff; }
.c_fs_orange .c_apart{ border-color:#fff; }
.c_fs_orange .c_col:last-child:after{ border-color:#fff; }
.c_fs_152.c_item{ padding:16px; background-color:#ff9800; color:#fff; }
.c_fs_152 .c_apart{ border-color:#fff; }
.c_fs_152 .c_col:last-child:after{ border-color:#fff; }
.c_fs_230.c_item{ padding:16px; background-color:#e64a19; color:#fff; }
.c_fs_230 .c_apart{ border-color:#fff; }
.c_fs_230 .c_col:last-child:after{ border-color:#fff; }
/*产品线*/
.c_pro_line{ text-indent:0; margin-top:-23px; line-height:1; }
.c_pro_line .c_section{ padding:33px 0 15px; border-bottom:1px dotted #dadada; }
.c_pro_line .c_section:last-child{ border:none; }
.c_pro_line .c_title3{ font-size:18px; padding-bottom:19px; }
.c_pro_line .c_list{ overflow:hidden; }
.c_pro_line .c_item{ float:left; padding-bottom:22px; width:25%; }
.c_pro_line .c_t1{ font-size:14px; color:#808080; padding-bottom:5px; }
.c_pro_line .c_t2{ color:#bfbfbf; font-size:12px; }
.c_history{ text-indent:0; color:#666; padding:0 9px; line-height:1; }
.c_history .c_item{ clear:both; position:relative; height:172px; }
.c_history .c_item:after{ content:''; border-left:1px solid #ffc7cc; position:absolute; left:7px; top:19px; bottom:-9px; }
.c_history .c_item:last-child{ height:auto; padding-bottom:22px; }
.c_history .c_item:last-child:after{ display:none; }
.c_history .c_his_point{ width:15px; height:15px; position:relative; float:left; margin-top:12px; }
.c_history .c_his_point:before{ content:''; position:absolute; left:0; top:0; z-index:2; width:15px; height:15px; border-radius:8px; background-color:#ff1f35; position:relative; float:left; }
.c_history .c_his_point:after{ content:''; width:21px; height:21px; background-color:#fff; border-radius:11px; border:1px solid #ffc7cc; position:absolute; left:-4px; top:-4px; z-index:1; }
.c_history .c_his_year{ font-style:italic; font-size:40px; float:left; padding:0 38px 0 25px; }
.c_history .c_his_content{ overflow:hidden; color:#808080; font-size:16px; line-height:24px; }
.c_speech{ }
.c_speech img{ float:left; }
.c_speech .c_speech_content{ overflow:hidden; padding:0 16px 80px 18px; }
.c_invest{ position:relative; }
.c_page_content .c_tab{ position:absolute; right:50px; top:0; }
.c_tab{ font-size:16px; overflow:hidden; color:#333; }
.c_tab .c_item{ float:left; height:34px; line-height:34px; border-radius:17px; cursor:pointer; margin-left:5px; padding:0 18px; }
.c_tab .active{ color:#fff; background-color:#ff1f35; }
.c_invest_team{ text-indent:0; margin-left:-8px; }
.c_job{ }
.c_expender{ text-indent:0; padding-left:2em; }
.c_expender .c_item{ position:relative; border-bottom:1px dashed #e5e5e5; padding:22px 0; }
.c_expender .c_item .c_ico{ position:absolute; top:25px; left:-32px; background-image:url(images/ico_plus.png); width:22px; height:22px; cursor:pointer; }
.c_expender .c_item.active{ border-top:none; }
.c_expender .c_item.active .c_ico{ background-image:url(images/ico_minus.png); }
.c_expender .c_title3{ font-size:18px; }
.c_expender .c_content{ color:#808080; overflow:hidden; height:0; -webkit-transition:all .3s ease-in-out .1s; padding:5px 0 0; }
.c_expender .c_item.active .c_content{ height:auto; }
.c_job .c_content{ color:#333; }
.c_table{ font-size:14px; color:#666; text-indent:0; border:1px solid #333; width:100%; border-spacing:0; border-collapse:collapse; margin-bottom:22px; }
.c_table th{ font-size:18px; color:#000; padding:20px 0; border:1px solid #444; }
.c_table td{ width:33%; border:1px solid #444; }
.c_page_news_list{ overflow:hidden; text-indent:0; padding-bottom:22px; }
.c_page_news_list .c_item{ overflow:hidden; }
.c_pager{ text-align:center; padding:22px 0 65px; text-indent:0; font-size:0; }
.c_pager .c_item{ display:inline-block; width:36px; height:36px; text-align:center; line-height:36px; background-color:#e5e5e5; font-size:12px; vertical-align:middle; border-radius:18px; margin:0 7px; cursor:pointer; padding-bottom:0; }
.c_pager .c_item.active{ background-color:#ff1f35; color:#fff; cursor:default; }
.c_pager .c_pager_next{ overflow:hidden; background-image:url(images/ico_pager_next.png); }
.c_fund_sider_text{ margin:58px 28px 54px 30px; position:relative; line-height:28px; display:block; }
.c_fund_sider_text .c_title{ font-size:36px; color:#fff; padding-bottom:8px; }
.c_fund_sider_text .c_title2{ font-size:18px; color:#ff1f35; }
.ico_fd_sider_right{ background-image:url(images/ico_arrow_right_big.png); width:43px; height:43px; position:absolute; right:0; top:22px; }
.c_sp_box{ }
.c_sp_box .c_row{width: 100%; }
.c_sp_box .c_col{ float:left\9; width:33.33%\9;}
.c_sp_box img{ display:block; }
.c_fd_news{ height:auto; }
.c_fd_news .c_col{ width:100%; padding-bottom:22px; }
.c_fd_news .c_col:last-child{ border-left:1px solid #e5e5e5; }
.c_fd_search_bar{ margin-bottom:22px; padding:6px 8px; overflow:hidden; }
.c_fd_search_bar .c_title{ font-size:20px; float:left; padding:6px 19px 0 0; }
.c_fd_search_bar .c_input_box{ padding:0 15px; float:left; border:1px solid #e5e5e5; background-color:#fff; }
.c_fd_search_bar .c_input{ height:38px; border:none; width:424px; float:left; }
.c_fd_search_bar .c_ico_search{ cursor:pointer; background-image:url(images/ico_fd_search.png); width:16px; height:17px; float:left; margin:11px 0 0; }
.c_fd_search_bar .c_hot_words{ float:left; padding:12px 0 0 15px; }
.c_fd_search_bar .c_item{ float:left; padding:0 7px; }
.c_fd_search_bar a{ font-size:14px; color:#999; }
.c_fd_search_bar a:hover{ color:#ff1f35; }
.c_fd_filter{ border:1px solid #e5e5e5; margin-bottom:20px; background-color:#fff; }
.c_fd_filter .c_col{ padding:9px; font-size:14px; line-height:30px; }
.c_fd_filter .c_fd_t_item{ overflow:hidden; padding:19px 0 0 30px; }
.c_fd_filter .c_fd_t_item .c_dt{ float:left; padding:0 25px 0 0; }
.c_fd_filter .c_fd_t_item .c_dd{ float:left; }
.c_fd_filter .c_fd_t_item .c_dd .c_item{ float:left; padding:0 10px; margin-right:14px; cursor:pointer; }
.c_fd_filter .c_col:first-child{ width:948px; }
.c_fd_filter .c_col .active{ border-radius:3px; color:#fff; background-color:#ff1f35; cursor:default; }
.c_fd_filter .c_col img{ display:block; }
.c_fd_list{ border:1px solid #e5e5e5; background-color:#fff; margin-bottom:22px; }
.c_fd_list .c_list_item{ box-sizing:border-box; height:156px; padding:30px 0 30px 90px; position:relative; border-bottom:1px solid #e5e5e5; }
.c_fd_list .c_list_item:last-child{ border:none; }
.c_fd_list .c_list_item:hover{ box-shadow:0 2px 3px rgba(0, 0, 0, .2); }
.c_fd_list .c_list_item .c_item{ float:left; box-sizing:border-box; height:100px; }
.c_fd_list .c_title{ font-size:24px; padding-bottom:5px; }
.c_fd_list .c_title2{ font-size:16px !important; line-height:26px; }
.c_fd_list .c_badge{ color:#fff; font-size:28px; width:80px; height:80px; position:absolute; top:-30px; left:-90px; }
.c_fd_list .c_list_item:nth-child(1) .c_badge,
.c_fd_list .c_list_item:nth-child(5) .c_badge,
.c_fd_list .c_list_item:nth-child(2) .c_badge{ background-image:url(images/ico_sp_1.png); }
.c_fd_list .c_list_item:nth-child(3) .c_badge{ background-image:url(images/ico_sp_2.png); }
.c_fd_list .c_list_item:nth-child(4) .c_badge{ background-image:url(images/ico_sp_3.png); }
.c_fd_list .c_grey{ font-size:16px; }
.c_fd_list .c_date{ font-size:12px; color:#808080; }
.c_fd_list .c_red{ font-size:36px; }
.c_fd_list .c_item:nth-child(1){ width:339px; position:relative; }
.c_fd_list .c_item:nth-child(2){ width:209px; padding-left:60px; }
.c_fd_list .c_item:nth-child(3){ width:160px; padding-left:39px; }
.c_fd_list .c_item:nth-child(4){ width:199px; padding-left:33px; position:relative; }
.c_fd_list .c_item:nth-child(5){ width:160px; padding:31px 0 0 55px; }
.fz24{ font-size:24px !important; }
.c_fdll_table{ margin-bottom:22px; border:1px solid #e5e5e5; }
.c_fdll_table .c_button{ color:#888; background-color:transparent; }
.c_fdll_table .c_fd_body .c_item:nth-child(2){ font-size:13px; color:#808080; }
.c_fdll_table .c_item:nth-child(8){ width:100px; }
.c_fdll_table .c_item:nth-child(9){ width:100px; }
.c_fdll_table .c_item:nth-child(10){ width:186px; }
.c_fdll_table .c_ul:hover{ box-shadow:0 2px 3px rgba(0, 0, 0, .2); }
.c_fdll_table .c_ul:hover .c_button{ background-color:#ff1f35; color:#fff; }
.c_fdll_table .c_ul:hover .c_item:after{ display:none; }
.c_fdll_table .c_ul:hover .c_item:first-child{ border-color:transparent; }
.c_nav{ height:40px; line-height:40px; margin-bottom:22px; border:1px solid #ebebeb; background-color:#fff; }
.c_nav .c_nav_ul{ overflow:hidden; width:1200px; margin:0 auto; }
.c_nav .c_item{ float:left; padding:0 16px; position:relative; }
.c_nav .c_item:after{ content:'>'; color:#808080; position:absolute; right:-4px; top:0; }
.c_nav .c_item:last-child:after{ content:''; }
.c_nav .c_item a{ color:#808080; position:relative; display:block; }
.c_nav .c_item a:hover{ color:#ff1f35; }
.c_nav .c_item.active a:after{ content:''; position:absolute; bottom:0; left:0; right:0; border-top:3px solid #ff1f35; }
.c_links{ padding:60px 45px 50px; background-color:#fff; border:1px solid #e5e5e5; }
.c_links .c_list{ }
.c_links .c_list .c_list_item{ padding:43px 0 20px; border-bottom:1px dashed #e5e5e5; }
.c_links .c_list .c_list_item:last-child{ border:none; }
.c_links .c_title{ font-size:24px; padding-bottom:35px; border-bottom:1px dashed #e5e5e5; }
.c_links .c_title2{ font-size:18px; padding-bottom:18px; }
.c_links .c_ul{ overflow:hidden; }
.c_links .c_item{ float:left; width:20%; padding:0 0 18px; }
.c_links .c_item a{ color:#666; }
.c_links .c_item a:before{ content:'• '; }
.c_links .c_item a:hover{ color:#ff1f35; }
.c_search_top{ position:relative; width:784px; margin:0 auto; padding:76px 0; }
.c_search_top .c_search_input_box{ overflow:hidden; margin-bottom:16px; }
.c_search_top .c_search_input{ width:596px; height:50px; border:2px solid #d2d2d2; border-right:none; float:left; font-size:20px; padding:0 20px; }
.c_search_top .c_search_btn{ width:146px; height:54px; background-color:#ff1f35; float:left; cursor:pointer; text-align:center; line-height:54px; color:#fff; font-size:18px; }
.c_search_top .c_ico_search{ background-image:url(images/ico_search_white.png); width:32px; height:31px; display:inline-block; margin-top:9px; }
.c_search_top .c_search_hot{ }
.c_search_top .c_search_hot .c_item{ font-size:14px; color:#999; padding:0 15px; display:inline-block;}
.c_search_top .c_search_hot .c_item.active{ color:#ff1f35; }
.c_search_drop_menu{ display:none; position:absolute; left:0; top:128px; border:2px solid #d2d2d2; width:636px; background-color:#fff; z-index:999; }
.c_search_drop_menu .c_item{ height:60px; line-height:60px; padding:0 0 0 20px; }
.c_search_drop_menu .c_item, .c_search_drop_menu .c_red{ font-size:18px; }
.c_search_drop_menu .c_item:hover{ background-color:#f4f4f4; }
.c_search_body{ min-height:180px; }
.c_search_empty{ font-size:30px; text-align:center; color:#c9cfd3; vertical-align:middle; }
.c_ico_search_tip{ display:inline-block; background-image:url(images/ico_search_tip.png); width:118px; height:109px; vertical-align:middle; }
.c_search_main{ width:900px; float:left; }
.c_search_sider{ overflow:hidden; }
.c_search_main .c_home_news{ width:auto; }
.c_search_main .c_home_news .c_apart{ border-top:1px solid #e5e5e5; padding-bottom:9px; }
.c_search_main .c_home_news .c_right .c_home_news_list{ margin-top:30px; }
.c_search_main .c_home_news .c_right{ border:none; }
.c_search_main .c_fd_list{ margin-bottom:0; }
.c_search_main .c_fd_list .c_list_item:nth-child(1) .c_badge{ background-image:url(images/ico_seh_badge_1.png); }
.c_search_main .c_fd_list .c_list_item:nth-child(2) .c_badge{ background-image:url(images/ico_seh_badge_2.png); }
.c_search_main .c_fd_list .c_list_item{ padding-left:58px; }
.c_search_main .c_fd_list .c_badge{ width:50px; height:50px; left:-58px; }
.c_search_main .c_fd_list .c_item:nth-child(2){ padding-left:50px; width:197px; }
.c_search_main .c_fd_list .c_item:nth-child(3){ padding-left:28px; width:135px; }
.c_search_main .c_fd_list .c_item:nth-child(4){ width:auto; }
.c_search_main .c_fd_list .c_item:last-child:after{ border:none; }
.c_search_sider{ padding-right:1px; }
.c_search_sider .c_home_news{ border-left:none; height:auto; }
.c_search_sider .c_home_news .c_right .c_home_news_list{ padding-bottom:15px; }
.c_search_sider .c_home_news .c_right{ border:none; }
.c_sider_rank{ position:relative; padding:0 20px 40px 60px; margin:16px 0 0; }
.c_sider_rank:after{ content:''; position:absolute; top:5px; left:25px; background-image:url(images/ico_rank.png); width:23px; height:200px; }
.c_sider_rank .c_item{ display:block; }
.c_sider_rank .c_red{ font-size:0; }
.c_sider_rank .c_item:nth-child(1) .c_t1{ font-size:28px; }
.c_sider_rank .c_item:nth-child(1) .c_t2{ font-size:18px; }
.c_sider_rank .c_item:nth-child(1) .c_t3{ font-size:18px; }
.c_sider_rank .c_item:nth-child(2) .c_t1{ font-size:22px; }
.c_sider_rank .c_item:nth-child(2) .c_t2{ font-size:12px; }
.c_sider_rank .c_item:nth-child(2) .c_t3{ font-size:16px; }
.c_sider_rank .c_item:nth-child(3) .c_t1{ font-size:18px; }
.c_sider_rank .c_item:nth-child(3) .c_t2{ font-size:12px; }
.c_sider_rank .c_item:nth-child(3) .c_t3{ font-size:14px; }
.c_sider_rank .c_t3{ display:inline-block; vertical-align:top; padding-left:9px; }
.c_sider_rank .c_item{ padding-bottom:16px; }
.c_sider_rank{ }
.c_client_grid{ background-color:#fff; border-right:1px solid #e5e5e5;}
.c_client_grid .c_ico{ display:inline-block; vertical-align:middle; margin-right:22px;}
.c_client_grid .c_col{ width:100%; font-size:16px; height:70px; line-height:70px; padding:0 0 0 20px; border:1px solid #e5e5e5; margin:-1px; border-left:none; border-top:none;}
.c_client_grid .c_col:last-child{ border-right:none;}
.c_ico_cl_1{ background-image:url(images/ico_cl_1.png); width:24px; height:32px; }
.c_ico_cl_2{ background-image:url(images/ico_cl_2.png); width:32px; height:32px; }
.c_ico_cl_3{ background-image:url(images/ico_cl_3.png); width:31px; height:26px; }
.c_ico_cl_4{ background-image:url(images/ico_cl_4.png); width:32px; height:29px; }
.c_ico_cl_5{ background-image:url(images/ico_cl_5.png); width:26px; height:29px; }
.c_ico_cl_6{ background-image:url(images/ico_cl_6.png); width:26px; height:27px; }
.c_ico_cl_7{ background-image:url(images/ico_cl_7.png); width:30px; height:31px; }
.c_ico_cl_8{ background-image:url(images/ico_cl_8.png); width:32px; height:31px; }
.c_ico_cl_9{ background-image:url(images/ico_cl_9.png); width:34px; height:58px; }
.c_ico_cl_10{ background-image:url(images/ico_cl_10.png); width:52px; height:34px; }
.c_ico_cl_11{ background-image:url(images/ico_cl_11.png); width:52px; height:36px; }
.c_ico_cl_12{ background-image:url(images/ico_cl_12.png); width:12px; height:12px; }
.c_ico_cl_13{ background-image:url(images/ico_cl_13.png); width:12px; height:12px; }
.c_ico_cl_14{ background-image:url(images/ico_cl_14.png); width:65px; height:65px; }
.c_ico_cl_15{ background-image:url(images/ico_cl_15.png); width:65px; height:65px; }
.c_ico_cl_16{ background-image:url(images/ico_cl_16.png); width:64px; height:65px; }
.c_ico_cl_17{ background-image:url(images/ico_cl_17.png); width:65px; height:65px; }
.c_ico_cl_18{ background-image:url(images/ico_cl_18.png); width:56px; height:65px; }

.c_client_content{ overflow:hidden;min-height:600px; }
.c_client_content .c_search_top{ padding:40px 0 0px 0; }
.c_client_content .c_search_top .c_search_hot .c_item:first-child{ padding:0 10px 0 16px; }
.c_client_content .c_search_top .c_search_hot .c_item{ padding:0 6px; }

.c_hot_news_list{ overflow:hidden; padding:30px 0 50px 16px;}
.c_hot_news_list .c_list_item:first-child{ position:relative;}
.c_hot_news_list .c_list_item:first-child:after{ position:absolute; top:5px; bottom:15px; content:''; border-left:1px solid #e5e5e5;right: 0;}
.c_hot_news_list .c_list_item{ float:left;width: 45%; margin-right:5%;}
.c_hot_news_list .c_list_item .c_item{ padding-bottom:12px;}
.c_hot_news_list .c_list_item a{ font-size:14px;}

.c_client_box{ background-color:#fff; border:1px solid #e5e5e5; margin-bottom:20px;}
.c_client_box .c_title{ border-bottom:1px solid #e5e5e5; border-left:2px solid #ff1f35; padding:11px 26px; margin-left:-1px;}
.c_client_box .c_title .c_title1{ font-size:24px;}
.c_client_box .c_title .c_title2{ font-size:12px; color:#ff1f35;}


.c_client_faq .c_body{ padding:20px 0 20px 38px;}
.c_client_faq .c_faq{ padding:18px 0; font-size:13px; overflow:hidden;}
.c_client_faq .c_dt{ color:#ff1f35; padding:0 30px 0 0; float:left;}
.c_client_faq .c_dd{ overflow:hidden;}
.c_client_faq .c_item{ margin-right:32px; }

.c_client_tools .c_body{ overflow:hidden;}
.c_client_tools .c_item{ float:left; border-left:1px solid #e5e5e5; margin:-1px; width:20%; text-align:center; height:178px; font-size:16px;}
.c_client_tools .c_ico{ display:block; margin:34px auto 25px;}
.c_client_tools .c_item:first-child{ border:none;}


.c_client_hot .c_body{}
.c_client_hot .c_input{ border:1px solid #e5e5e5; font-size:13px; height:36px; padding:0 12px; background-color:#fafafa; margin-right:20px;}
.c_client_hot .c_filter{ padding:22px 27px;}
.c_client_hot .c_atitle{ width:100px;}
.c_client_hot .c_date{ width:92px; margin-right:0;}
.c_client_hot .c_line{ display:inline-block; border-top:1px solid #e5e5e5; width:11px; vertical-align:middle;}
.c_client_hot .c_button{ margin-left:20px;}
.c_client_hot .c_list{ padding:12px 57px 42px 28px;}
.c_client_hot .c_item{ margin-bottom:12px; overflow:hidden;}
.c_client_hot .c_red{ float:right;}
.c_client_hot .c_item a{ font-size:14px; float:left; overflow:hidden;text-overflow:ellipsis; width:545px;}



.c_client_service{ min-height:0; margin-bottom:20px; height:480px; position:relative; border-bottom:none;}
.c_client_service .c_title,.c_client_service .c_title2{ position:relative; z-index:8;}

.c_client_service .c_body{ overflow:hidden; position:absolute;left: 0;top: 0;width: 100%;height: 100%;}
.c_client_service .c_item{ float:left; margin:-1px; width:50%; height:50%; border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.c_client_service .c_item:first-child{ border-left:none;}

.c_client_service .c_item img{width: 100%;}
.c_client_service .c_sider{ width:120px; text-align:center; float:left; padding:33px 0 0;}
.c_client_service .c_sider .c_ico{ display:inline-block;}
.c_client_service .c_main{ overflow:hidden;}
.c_client_service .c_content{ font-size:14px; color:#808080; line-height:27px; margin-right:45px; height:121px;border-bottom:1px dashed #e5e5e5;}
.c_client_service .c_title3{ font-size:24px; padding:20px 0 12px;}
.c_client_service .c_star_box{ padding:17px 0 0;}
.c_client_service .c_star_box .c_t1{ font-size:14px; padding-right:8px;}
.c_client_service .c_star_box .c_ico{ display:inline-block;}
