.c_ico{ background-repeat:no-repeat; }

.c_arrow_bottom_white{ background-image:url(images/ico_arrow_down_white.png); width:10px; height:6px; }

.c_arrow_down_outline{ background-image:url(images/ico_arrow_down_outline.png); width:24px; height:24px; }
.c_arrow_right_outline{ background-image:url(images/ico_arrow_right_outline.png); width:24px; height:24px; }
.c_arrow_right_outline2{ background-image:url(images/ico_arrow_right_outline2.png); width:24px; height:24px; }
.c_arrow_right{ background-image:url(images/ico_arrow_right.png); width:6px; height:10px; }

.c_arrow_down, .c_arrow_bottom{ background-image:url(images/ico_arrow_bottom.png); width:10px; height:6px; }
.c_arrow_bottom_red{ background-image:url(images/ico_arrow_bottom_red.png); width:10px; height:6px; }

.c_ico_t1{ background-image:url(images/ico_tool_1.png); width:24px; height:25px; }
.c_ico_t2{ background-image:url(images/ico_tool_2.png); width:17px; height:20px; }
.c_ico_t3{ background-image:url(images/ico_tool_3.png); width:22px; height:20px; }
.c_ico_t4{ background-image:url(images/ico_tool_4.png); width:24px; height:24px; }

.container{ width:1200px; margin:0 auto; position:relative; }
.c_red{ color:#ff1f35; font-size:12px; }
.c_grey{ color:#c3c3c3 !important; }
.c_green{ color:#299f55; }

.c_button{ color:#fff; background-color:#ff1f35; height:36px; line-height:36px; text-align:center; min-width:90px; font-size:14px; display:inline-block; border-radius:18px; text-indent:0; }
.c_button:hover{ background-color:#d82736; color:#fff; }

.c_ico_right{ position:relative; }
.c_ico_right .c_ico:last-child{ position:absolute; top:50%; right:20px; transform:translateY(-50%); }

.c_top_grid{ position:relative; margin-bottom:20px; border-bottom:1px solid #e5e5e5; }

.c_grid_more{ width:275px; height:50px; line-height:50px; position:absolute; left:0; top:-50px; z-index:999; background-color:#f42536; color:#fff; padding-left:25px; font-size:16px; }
.c_grid_menu{ width:300px; height:360px; background-color:#212121; float:left; overflow:hidden; }
.c_grid_ul a{ color:#fff; display:block; height:50px; line-height:50px; padding-left:25px; font-size:16px; }
.c_grid_ul a:hover, .c_grid_ul .active{ background-color:#ff1f35; }
.c_grid_menu .c_ico{ display:none; }
.c_grid_ul a:hover .c_ico, .c_grid_ul .active .c_ico{ display:block; }

.c_grid_bottom{ }
.c_grid_bottom .c_ico{ vertical-align:middle; display:inline-block; margin:0 5px 0 22px; }
.c_grid_bottom a{ color:#fff; font-size:16px; vertical-align:middle; display:inline-block; }
.c_grid_bottom .c_item{ float:left; margin:-1px; border:1px solid #000; height:79px; line-height:74px; width:50%; }

.c_grid_360{ float:left; width:360px; height:360px; background-color:#fff; position:relative; background:url(images/img_iphone.png) no-repeat right bottom; }
.c_grid_360 .c_inner{ padding:30px 0 0 30px; }
.c_grid_360 .c_title{ font-size:24px; padding-bottom:5px; }

.c_grid_360 .c_subtitle{ }
.c_grid_360 .c_ps{ color:#ff1f35; font-size:0; overflow:hidden; }
.c_grid_360 .c_ps_f{ font-size:64px; vertical-align:text-top; float:left; }
.c_grid_360 .c_ps_e{ font-size:32px; vertical-align:text-top; padding-top:12px; float:left; }

.c_grid_360 .c_button_outline{ position:absolute; left:30px; bottom:25px; }

.c_button_outline{ color:#ff1f35; background-color:transparent; border:1px solid #ff0000; padding:12px 30px; border-radius:22px; display:inline-block; font-size:16px; }

.c_grid_540{ float:left; width:540px; height:360px; }
.c_grid_540 .c_item:nth-child(1){ background-color:#f0e6dd; }
.c_grid_540 .c_item:nth-child(2){ background-color:#f7f7f7; }
.c_grid_540 .c_item:nth-child(3){ background-color:#349ce3; }
.c_grid_540 .c_item:nth-child(4){ background-color:#f05b89; color:#fff; }
.c_grid_540 .c_item:nth-child(4) .c_per{ color:#fff; }
.c_grid_540 .c_item:nth-child(5){ background-color:#e4e7ed; }
.c_grid_540 .c_item:nth-child(6){ background-color:#fff; }
.c_grid_540 .c_item{ float:left; width:180px; height:180px; }
.c_grid_540 .c_inner{ padding:20px; }
.c_grid_540 .c_hot{ padding-bottom:9px; }
.c_grid_540 .c_title{ font-size:18px; padding-bottom:9px; }
.c_grid_540 .c_subtitle{ padding-bottom:9px; }
.c_grid_540 .c_per{ color:#ff0000; font-size:32px; }
.c_grid_540 .c_grid_news:nth-child(3){ color:#fff; font-size:16px; }
.c_grid_540 .c_grid_news .c_title{ height:90px; overflow:hidden; }
.c_grid_540 .c_date{ color:#ababab; font-size:12px; }

.c_home_news{ border:1px solid #e5e5e5; overflow:hidden; height:300px; position:relative; background-color:#fff; width:100%; }
.c_home_news .c_left{ width:608px; padding-right:50px; float:left; }
.c_home_news .c_right{ overflow:hidden; padding-right:45px; }
.c_home_news .c_title{ font-size:24px; padding:0 0 14px 24px; margin:33px 0 0 29px; border-left:4px solid #ff1f35; padding-bottom:3px; }
.c_home_news .c_title2{ color:#ff0000; margin:0 0 0 57px; }
.c_home_news .c_first_img{ position:absolute; width:220px; height:200px; left:0; bottom:0; overflow:hidden; }
.c_home_news .c_first_img img{ width:100%; }
.c_home_news .c_first_title{ font-size:18px; display:block; margin:8px 0 8px 260px; }
.c_home_news .c_first_content{ color:#808080; font-size:14px; margin:0 0 5px 260px; line-height:24px; }
.c_home_news .c_first_date{ color:#ff0000; font-size:14px; margin:0 0 10px 260px; }
.c_home_news .c_left .c_home_news_list{ margin:0 0 8px 260px; }
.c_home_news .c_right .c_home_news_list{ margin:24px 0 8px 59px; }
.c_home_news .c_item{ font-size:14px; overflow:hidden; padding-bottom:11px; }
.c_home_news .c_item .c_date{ float:right; color:#ff0000; }
.c_home_news a{ overflow:hidden; display:block; white-space:nowrap; text-overflow:ellipsis; }

.c_home_news .c_right{ overflow:hidden; }

.c_fund_list{ border:1px solid #e5e5e5; background-color:#fff; margin-bottom:20px; }
.c_fund_list .c_top{ overflow:hidden; padding-bottom:10px; border-bottom:1px solid #e5e5e5; }
.c_fund_list .c_top_more{ float:right; margin:12px 20px 0 0; padding:0 36px 0 0; }
.c_fund_list .c_top_more .c_arrow_right_outline2{ right:0; }
.c_fund_list .c_top_more .c_red{ font-size:16px; }
.c_fund_list .c_fund_ul{ font-size:16px; float:left; padding:12px 0 0 20px; }
.c_fund_list .c_fund_ul .c_item{ height:36px; line-height:36px; padding-right:20px; float:left; }
.c_fund_list .c_fund_ul .c_item a{ display:block; color:#444; padding:0 20px; border-radius:18px; }
.c_fund_list .c_fund_ul .c_item a:hover, .c_fund_list .c_fund_ul .c_item .active{ color:#fff; background-color:#ff0000; }

.c_fd_table{ background-color:#fff; overflow:hidden; }
.c_fd_th{ overflow:hidden; line-height:38px; text-align:center; border-bottom:1px solid #e5e5e5; }
.c_fd_th .c_item{ float:left; color:#a6a6a6; cursor:pointer; }
.c_fd_th .c_item:hover{ color:#ff0000; }
.c_fd_th .c_item:hover .c_arrow_bottom{ background-image:url(images/ico_arrow_bottom_red.png); }

.c_fd_th .active .c_arrow_bottom{ transform:rotate(180deg); }

.c_fd_table .c_item:nth-child(1){ width:200px; }
.c_fd_table .c_item:nth-child(2){ width:110px; }
.c_fd_table .c_item:nth-child(3){ width:100px; }
.c_fd_table .c_item:nth-child(4){ width:100px; }
.c_fd_table .c_item:nth-child(5){ width:100px; }
.c_fd_table .c_item:nth-child(6){ width:100px; }
.c_fd_table .c_item:nth-child(7){ width:100px; }
.c_fd_table .c_item:nth-child(8){ width:230px; }
.c_fd_table .c_item:nth-child(9){ width:156px; }

.c_fd_table .c_fd_body{ font-size:13px; }
.c_fd_table .c_fd_body .c_ul{ color:#808080; }
.c_fd_table .c_fd_body .c_item:nth-child(2){ font-size:16px; color:#ff0000; }
.c_fd_table .c_fd_body .c_item:first-child{ text-indent:-1em; border-right:1px solid #e5e5e5; color:#555; }
.c_fd_table .c_fd_body .c_item{ text-align:center; height:60px; float:left; line-height:60px; border-bottom:1px solid #e5e5e5; position:relative; }

.c_fd_body .c_item:nth-child(2):after,
.c_fd_body .c_item:nth-child(3):after,
.c_fd_body .c_item:nth-child(4):after,
.c_fd_body .c_item:nth-child(5):after,
.c_fd_body .c_item:nth-child(6):after,
.c_fd_body .c_item:nth-child(7):after,
.c_fd_body .c_item:nth-child(8):after{ content:''; position:absolute; right:1px; top:18px; bottom:18px; border-left:1px solid #e5e5e5; }

.c_page{ }
.c_page_menu{ margin-top:-50px; background-color:#212121; width:300px; float:left; }
.c_page_menu .c_title{ width:275px; height:50px; line-height:50px; background-color:#f42536; color:#fff; padding-left:25px; font-size:16px; }
.c_page_menu_ul{ }
.c_page_menu_ul > .c_item{ }
.c_page_menu_ul .c_menu_item{ position:relative; color:#fff; display:block; height:50px; line-height:50px; padding-left:25px; font-size:16px; -webkit-transition:all .2s cubic-bezier(0.25, .5, .5, .9);
-moz-transition:all .2s cubic-bezier(0.25, .5, .5, .9);
transition:all .2s cubic-bezier(0.25, .5, .5, .9); }
.c_page_menu_ul .c_menu_item:hover, .c_page_menu_ul .active .c_menu_item{ background-color:#ff1f35; }

.c_page_menu_ul .c_item a{ color:#fff; display:block; height:50px; line-height:50px; padding-left:25px; font-size:16px; -webkit-transition:all .2s cubic-bezier(0.25, .5, .5, .9);
-moz-transition:all .2s cubic-bezier(0.25, .5, .5, .9);
transition:all .2s cubic-bezier(0.25, .5, .5, .9); }
.c_menu_child{ background-color:#424242; display:none; }
.c_page_menu_ul .active .c_menu_child{ display:block; }
.c_page_menu_ul .active .c_menu_item, .c_page_menu_ul .active .c_menu_child a{ padding-left:45px; }

.c_page_content{ overflow:hidden; }
.c_page_content .c_title{ font-size:24px; margin:35px 0 5px 25px; padding:0 0 0 24px; border-left:4px solid #ff1f35; }
.c_page_content .c_title2{ color:#ff1f35; margin:0 0 0 54px; }

.c_page_body{ padding:18px 40px 20px 54px; font-size:14px; color:#666; line-height:26px; text-indent:2em; }

.c_ico_fund1{ background-image:url(images/ico_fund_1.png); width:84px; height:80px; display:inline-block; vertical-align:middle; }
.c_ico_fund2{ background-image:url(images/ico_fund_2.png); width:84px; height:80px; display:inline-block; vertical-align:middle; }
.c_ico_fund3{ background-image:url(images/ico_fund_3.png); width:84px; height:80px; display:inline-block; vertical-align:middle; }

.c_fund_banner{ height:680px; }
.c_fund_banner img{ height:680px; }

.c_fund_single{ margin-top:-486px; position:relative; z-index:999; min-height:500px; }
.c_fund_single .c_fund_list{ margin-bottom:0; border-bottom:none;}
.c_fund_single .c_fund_body{ background-color:#fff; border:1px solid #e5e5e5;min-height:810px; border-top:none;}
.c_single_top{ overflow:hidden; color:#fff; margin-bottom:80px; }
.c_single_top .c_title{ font-size:56px; text-shadow:0 2px 5px rgba(0, 0, 0, .2); padding-bottom:5px; }
.c_single_top .c_title2{ font-size:20px; }
.c_single_top .c_button{ min-width:250px; margin-top:22px; height:60px; line-height:60px; border-radius:30px; font-size:24px;}

.c_fund_info{ overflow:hidden; background-color:#fff;/* border-bottom:1px solid #e5e5e5;*/ }
.c_fund_info .c_row{ overflow:hidden; display:block; flex-flow:row; padding:35px 0 30px 0px; height:150px; }
.c_fund_info .c_row:last-child{ background-color:#fafafa; border-top:1px solid #e5e5e5; }
.c_fund_info .c_col{ position:relative; padding:0 17px; white-space:nowrap; box-sizing:border-box; float:left;}
.c_fund_info .c_col:after{ content:''; position:absolute; right:0; top:15px; bottom:15px; border-left:1px solid #e5e5e5; }
.c_fund_info .c_col:last-child:after{ border:none; }

.c_fund_info .c_grey{ font-size:16px; padding-bottom:13px; }
.c_fund_info .c_red{ font-size:32px; }
.c_fund_info .c_null{ font-size:26px; }
.c_fund_info .c_row .c_col:first-child .c_red{ font-size:46px; margin-top:-7px; }
.c_fund_info .c_txt{ font-size:30px; }
.c_fund_info .c_row:nth-child(2) .c_col:first-child,.c_fund_info .c_row:nth-child(3) .c_col:first-child{ width:180px; }
.c_fund_info .c_row:nth-child(3) .c_col:last-child{ width:195px; }

.c_fund_chart{ float:right; width:360px; height:286px; padding:14px 20px 0; border-left:1px solid #e5e5e5; position:relative; }
.c_fund_chart .c_title{ font-size:20px; }
.c_fund_chart .c_title2{ font-size:12px; }
.c_fund_chart .c_drop_menu{ position:absolute; top:15px; right:22px; cursor:pointer; }
.c_fund_chart_body{ padding-top:12px; }
.c_fund_chart_body .c_null{ text-align:center; font-size:36px; margin-top:60px;}


.c_drop_menu{ }

.c_fund_single .c_fund_ul{ font-size:14px; }
.c_fund_single .c_left{ overflow:hidden; }
.c_fund_single .c_right{ float:right; width:300px; }
.c_fs_grid .c_title{ font-size:13px; padding-bottom:15px; }
.c_fs_grid .c_txt1{ font-size:18px; }
.c_fs_grid .c_txt2{ font-size:36px; font-weight:bold; }
.c_fs_grid .c_txt3{ font-size:18px; }
.c_fs_grid .c_txt4{ font-size:28px; }
.c_fs_grid .c_txt5{ font-size:34px; }
.c_fs_grid .c_apart{ margin:20px 0 16px; border-top:1px dashed; }
.c_fs_grid .c_item{ padding:16px; }

.c_fs_grid .c_col:last-child{ padding-left:25px; margin-left:42px; position:relative; }
.c_fs_grid .c_col:last-child:after{ content:''; position:absolute; left:0; top:22px; bottom:22px; border-left:1px solid; }
.c_h49{ height:34px; }

.c_row{ display:flex; flex-flow:row; box-sizing:border-box; }
.c_row2 .c_col{ width:50%; }

/*theme*/
.c_fs_blue.c_item{ padding:16px; background-color:#2196f3; color:#fff; }
.c_fs_blue .c_apart{ border-color:#fff; }
.c_fs_blue .c_col:last-child:after{ border-color:#fff; }

.c_fs_178.c_item{ padding:16px; background-color:#b2ebf2; color:#333; }
.c_fs_178 .c_apart{ border-color:#333; }
.c_fs_178 .c_col:last-child:after{ border-color:#333; }

.c_fs_83.c_item{ padding:16px; background-color:#536dfe; color:#fff; }
.c_fs_83 .c_apart{ border-color:#fff; }
.c_fs_83 .c_col:last-child:after{ border-color:#fff; }


.c_fs_red.c_item{ padding:16px; background-color:#f44336; color:#fff; }
.c_fs_red .c_apart{ border-color:#fff; }
.c_fs_red .c_col:last-child:after{ border-color:#fff; }

.c_fs_255.c_item{ padding:16px; background-color:#ff4081; color:#fff; }
.c_fs_255 .c_apart{ border-color:#fff; }
.c_fs_255 .c_col:last-child:after{ border-color:#fff; }

.c_fs_156.c_item{ padding:16px; background-color:#9c27b0; color:#fff; }
.c_fs_156 .c_apart{ border-color:#fff; }
.c_fs_156 .c_col:last-child:after{ border-color:#fff; }


.c_fs_orange.c_item{ padding:16px; background-color:#ff5722; color:#fff; }
.c_fs_orange .c_apart{ border-color:#fff; }
.c_fs_orange .c_col:last-child:after{ border-color:#fff; }


.c_fs_152.c_item{ padding:16px; background-color:#ff9800; color:#fff; }
.c_fs_152 .c_apart{ border-color:#fff; }
.c_fs_152 .c_col:last-child:after{ border-color:#fff; }


.c_fs_230.c_item{ padding:16px; background-color:#e64a19; color:#fff; }
.c_fs_230 .c_apart{ border-color:#fff; }
.c_fs_230 .c_col:last-child:after{ border-color:#fff; }

